<div class="inner" id="time_java" onmouseout="" onmouseover="" style="display: none; position:absolute;">
<table style="border-collapse:collapse;background:#FFFFFF;border:1px solid #ABABAB;" cellpadding="2">
   <tr>
      <td>
         <select id="hrs" class="select" onchange="setH(this);" name="hrs">
         <option value="01">01</option>
         <option value="02">02</option>
         <option value="03">03</option>
         <option value="04">04</option>
         <option value="05">05</option>
         <option value="06">06</option>
         <option value="07">07</option>
         <option value="08">08</option>
         <option value="09">09</option>
         <option value="10">10</option>
         <option value="11">11</option>
         <option value="12">12</option>
         </select>
      </td>
      <td>
         <select id="mins" class="select" onchange="setM(this);" name="mins">
         <option value="00">00</option>
         <option value="05">05</option>
         <option value="10">10</option>
         <option value="15">15</option>
         <option value="20">20</option>
         <option value="25">25</option>
         <option value="30">30</option>
         <option value="35">35</option>
         <option value="40">40</option>
         <option value="45">45</option>
         <option value="50">50</option>
         <option value="55">55</option>
         </select>
      </td>
      <td>
         <select id="ampm" class="select" onchange="setAP(this);" name="ampm">
         <option value="am">am</option>
         <option value="pm">pm</option>
         </select>
      </td>
      <td onclick="time_close();">x</td>
   </tr>
</table>
</div>

<div id="date_java" style="width:180px; display: none; position:absolute;">
<table width="100%" id="calender_start" style="border-collapse:collapse;" cellpadding="2">
   <tbody>
   <tr style="height:30px; background-image:url({T_IMAGESET_PATH}/bg_tabs_cal.gif);">
      <td style="cursor:pointer;" onclick="prev_month();"><img src="{T_IMAGESET_PATH}/arrowleftmonth.gif"></td>
      <td colspan="5" id="month_name" align="center" style="font:bold 13px Arial;"></td>
      <td align="right" style="cursor:pointer;" onclick="next_month();"><img src="{T_IMAGESET_PATH}/arrowrightmonth.gif"></td>
   </tr>
   <tr>
      <td align=center style="background:#ABABAB;font:12px Arial">S</td>
      <td align=center style="background:#ABABAB;font:12px Arial">M</td>
      <td align=center style="background:#ABABAB;font:12px Arial">T</td>
      <td align=center style="background:#ABABAB;font:12px Arial">W</td>
      <td align=center style="background:#ABABAB;font:12px Arial">T</td>
      <td align=center style="background:#ABABAB;font:12px Arial">F</td>
      <td align=center style="background:#ABABAB;font:12px Arial">S</td>
   </tr>
   <tr>
      <td class="row bg3" id="d1" style="border: 1px;width: 14%; height: 18px;">&nbsp;</td>
      <td class="row bg3" id="d2" style="border: 1px;width: 14%; height: 18px;">&nbsp;</td>
      <td class="row bg3" id="d3" style="border: 1px;width: 14%; height: 18px;">&nbsp;</td>
      <td class="row bg3" id="d4" style="border: 1px;width: 14%; height: 18px;">&nbsp;</td>
      <td class="row bg3" id="d5" style="border: 1px;width: 14%; height: 18px;">&nbsp;</td>
      <td class="row bg3" id="d6" style="border: 1px;width: 14%; height: 18px;">&nbsp;</td>
      <td class="row bg3" id="d7" style="border: 1px;width: 14%; height: 18px;">&nbsp;</td>
   </tr>
   <tr>
      <td class="row bg3" id="d8" style="border: 1px;width: 14%; height: 18px;">&nbsp;</td>
      <td class="row bg3" id="d9" style="border: 1px;width: 14%; height: 18px;">&nbsp;</td>
      <td class="row bg3" id="d10" style="border: 1px;width: 14%; height: 18px;">&nbsp;</td>
      <td class="row bg3" id="d11" style="border: 1px;width: 14%; height: 18px;">&nbsp;</td>
      <td class="row bg3" id="d12" style="border: 1px;width: 14%; height: 18px;">&nbsp;</td>
      <td class="row bg3" id="d13" style="border: 1px;width: 14%; height: 18px;">&nbsp;</td>
      <td class="row bg3" id="d14" style="border: 1px; height: 18px;">&nbsp;</td>
   </tr>
   <tr>   
      <td class="row bg3" id="d15" style="border: 1px;width: 14%; height: 18px;">&nbsp;</td>
      <td class="row bg3" id="d16" style="border: 1px;width: 14%; height: 18px;">&nbsp;</td>
      <td class="row bg3" id="d17" style="border: 1px;width: 14%; height: 18px;">&nbsp;</td>
      <td class="row bg3" id="d18" style="border: 1px;width: 14%; height: 18px;">&nbsp;</td>
      <td class="row bg3" id="d19" style="border: 1px;width: 14%; height: 18px;">&nbsp;</td>
      <td class="row bg3" id="d20" style="border: 1px;width: 14%; height: 18px;">&nbsp;</td>
      <td class="row bg3" id="d21" style="border: 1px; height: 18px;">&nbsp;</td>
   </tr>
   <tr>
      <td class="row bg3" id="d22" style="border: 1px;width: 14%; height: 18px;">&nbsp;</td>
      <td class="row bg3" id="d23" style="border: 1px;width: 14%; height: 18px;">&nbsp;</td>
      <td class="row bg3" id="d24" style="border: 1px;width: 14%; height: 18px;">&nbsp;</td>
      <td class="row bg3" id="d25" style="border: 1px;width: 14%; height: 18px;">&nbsp;</td>
      <td class="row bg3" id="d26" style="border: 1px;width: 14%; height: 18px;">&nbsp;</td>
      <td class="row bg3" id="d27" style="border: 1px;width: 14%; height: 18px;">&nbsp;</td>
      <td class="row bg3" id="d28" style="border: 1px; height: 18px;">&nbsp;</td>
   </tr>
   <tr>
      <td class="row bg3" id="d29" style="border: 1px;width: 14%; height: 18px;">&nbsp;</td>
      <td class="row bg3" id="d30" style="border: 1px;width: 14%; height: 18px;">&nbsp;</td>
      <td class="row bg3" id="d31" style="border: 1px;width: 14%; height: 18px;">&nbsp;</td>
      <td class="row bg3" id="d32" style="border: 1px;width: 14%; height: 18px;">&nbsp;</td>
      <td class="row bg3" id="d33" style="border: 1px;width: 14%; height: 18px;">&nbsp;</td>
      <td class="row bg3" id="d34" style="border: 1px;width: 14%; height: 18px;">&nbsp;</td>
      <td class="row bg3" id="d35" style="border: 1px; height: 18px;">&nbsp;</td>
   </tr>  
   <tr>
      <td class="row bg3" id="d36" style="border: 1px;width: 14%; height: 18px;">&nbsp;</td>
      <td class="row bg3" id="d37" style="border: 1px;width: 14%; height: 18px;">&nbsp;</td>
      <td class="row bg3" id="d38" style="border: 1px;width: 14%; height: 18px;">&nbsp;</td>
      <td class="row bg3" id="d39" style="border: 1px;width: 14%; height: 18px;">&nbsp;</td>
      <td class="row bg3" id="d40" style="border: 1px;width: 14%; height: 18px;">&nbsp;</td>
      <td class="row bg3" id="d41" style="border: 1px;width: 14%; height: 18px;">&nbsp;</td>
      <td class="row bg3" id="d42" style="border: 1px; height: 18px;">&nbsp;</td>
   </tr>
   <tr><td id="thingy"></td></tr>
   </tbody>   
</table>
</div>