<div class="extra_container">
<div class="row_resp">
	<div class="column_cal">
		<div class="forabg">
				<div class="inner">
					<ul class="topiclist">
						<li class="header">
							<dl>
								<dt><a href="{U_CALENDAR}">{L_LANG_CALENDAR}</a></dt>
							</dl>
						</li>
					</ul>
					<div class="bg4" style="padding: 5px; margin: 0px auto;">
					<!-- INCLUDE blocks/block_calendar.html -->
					</div>
				</div>
		</div>
	</div>
	<!-- IF S_MCHAT_ENABLE and S_MCHAT_ON_INDEX and not S_MCHAT_LOCATION -->
	<div class="column_chat"><!-- INCLUDE mchat_body.html --></div>
<!-- ENDIF -->
</div>
</div>