<!DOCTYPE html>
<html dir="{S_CONTENT_DIRECTION}" lang="{S_USER_LANG}">
<head>

<meta http-equiv="content-type" content="text/html; charset={S_CONTENT_ENCODING}" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta http-equiv="content-style-type" content="text/css" />
<meta http-equiv="content-language" content="{S_USER_LANG}" />
<meta http-equiv="imagetoolbar" content="no" />
<meta name="resource-type" content="document" />
<meta name="distribution" content="global" />
<meta name="keywords" content="" />
<meta name="description" content="" />
{META}
<title>{SITENAME} &bull; <!-- IF S_IN_MCP -->{L_MCP} &bull; <!-- ELSEIF S_IN_UCP -->{L_UCP} &bull; <!-- ENDIF -->{PAGE_TITLE}</title>
<link rel="icon" type="image/x-icon" href="{ROOT_PATH}images/favicon.ico">
	
<!-- IF S_ENABLE_FEEDS -->
	<!-- IF S_ENABLE_FEEDS_OVERALL --><link rel="alternate" type="application/atom+xml" title="{L_FEED} - {SITENAME}" href="{U_FEED}" /><!-- ENDIF -->
	<!-- IF S_ENABLE_FEEDS_NEWS --><link rel="alternate" type="application/atom+xml" title="{L_FEED} - {L_FEED_NEWS}" href="{U_FEED}?mode=news" /><!-- ENDIF -->
	<!-- IF S_ENABLE_FEEDS_FORUMS --><link rel="alternate" type="application/atom+xml" title="{L_FEED} - {L_ALL_FORUMS}" href="{U_FEED}?mode=forums" /><!-- ENDIF -->
	<!-- IF S_ENABLE_FEEDS_TOPICS --><link rel="alternate" type="application/atom+xml" title="{L_FEED} - {L_FEED_TOPICS_NEW}" href="{U_FEED}?mode=topics" /><!-- ENDIF -->
	<!-- IF S_ENABLE_FEEDS_TOPICS_ACTIVE --><link rel="alternate" type="application/atom+xml" title="{L_FEED} - {L_FEED_TOPICS_ACTIVE}" href="{U_FEED}?mode=topics_active" /><!-- ENDIF -->
	<!-- IF S_ENABLE_FEEDS_FORUM and S_FORUM_ID --><link rel="alternate" type="application/atom+xml" title="{L_FEED} - {L_FORUM} - {FORUM_NAME}" href="{U_FEED}?f={S_FORUM_ID}" /><!-- ENDIF -->
	<!-- IF S_ENABLE_FEEDS_TOPIC and S_TOPIC_ID --><link rel="alternate" type="application/atom+xml" title="{L_FEED} - {L_TOPIC} - {TOPIC_TITLE}" href="{U_FEED}?f={S_FORUM_ID}&amp;t={S_TOPIC_ID}" /><!-- ENDIF -->
<!-- ENDIF -->

<!--
	phpBB style name: MiMic
	Based on style:   prosilver (this is the default phpBB3 style)
	Original author:  Tom Beddard ( http://www.subBlue.com/ )
	Modified by:	  Helter
-->

<link href="{T_STYLESHEET_LINK}" rel="stylesheet" type="text/css" media="screen, projection" />
<link href="{T_THEME_PATH}/dark.css" rel="alternate stylesheet" type="text/css" title="dark" id="dark" data-bs-theme="dark" onload="this.media='all'" />
<!-- ajaxlike -->
<link href="{T_SUPER_TEMPLATE_PATH}/ajaxlike/css/cupertino/jquery-ui.css" rel="stylesheet" type="text/css" />
<link href="{T_SUPER_TEMPLATE_PATH}/ajaxlike/css/tipsy.css" rel="stylesheet" type="text/css" />

<link href="{T_THEME_PATH}/print.css" rel="stylesheet" type="text/css" media="print" title="printonly" />
<link href="{T_THEME_PATH}/light.css" rel="stylesheet" type="text/css" title="light" id="light" />

<!-- IF SCRIPT_NAME eq 'activitypage' or SCRIPT_NAME eq 'profile' -->
<script src="{ROOT_PATH}assets/js/jquery/jquery-1.9.1.js"></script>
<script src="{ROOT_PATH}assets/js/jquery/jquery-migrate-1.2.1.min.js"></script>
<!-- ELSE -->
<script src="{ROOT_PATH}assets/js/jquery/jquery-1.9.1.js"></script>
<script src="{ROOT_PATH}assets/js/jquery/jquery-migrate-1.2.1.min.js"></script>
<!-- ENDIF -->

<script src="{T_TEMPLATE_PATH}/js/scripts.js"></script>

<!-- IF S_MCHAT_ENABLE and (S_MCHAT_ON_INDEX or U_MCHAT) -->
<script src="{ROOT_PATH}assets/js/jquery/jquery_cookie_mini.js"></script>
<!-- ENDIF -->

<!-- INCLUDE socialnet/overall_header_hook_css.html -->

<script>
// <![CDATA[
var jump_page = '{LA_JUMP_PAGE}:';
var on_page = '{ON_PAGE}';
var per_page = '{PER_PAGE}';
var base_url = '{A_BASE_URL}';
var style_cookie = 'phpBBstyle';
var style_cookie_settings = '{A_COOKIE_SETTINGS}';
var onload_functions = [];
var onunload_functions = [];
 
<!-- IF S_USER_PM_POPUP and S_NEW_PM -->
    var url = '{UA_POPUP_PM}';
    window.open(url.replace(/&amp;/g, '&'), '_phpbbprivmsg', 'height=225,resizable=yes,scrollbars=yes, width=400');
<!-- ENDIF -->

/**
* Find a member
*/
function find_username(url)
{
	popup(url, 760, 570, '_usersearch');
	return false;
}
/**
* Updated pentapenguin's function for handling multiple calls to window.onload and window.unload 05/02/2024
*/
const initFunctions = {
    onload: [],
    onunload: []
};
	 
const executeFunctions = (functions) => {
    functions.forEach(func => {
	  eval(func);
    });
};
	 
window.addEventListener('load', () => {
    executeFunctions(initFunctions.onload);
});
	 
window.addEventListener('unload', () => {
    executeFunctions(initFunctions.onunload);
});

// Cookie Consent Functions
function setCookie(name, value, days) {
	var expires = "";
	if (days) {
	var date = new Date();
		date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
	expires = "; expires=" + date.toUTCString();
	}
	document.cookie = name + "=" + (value || "") + expires + "; path=/";
}

function getCookie(name) {
	var nameEQ = name + "=";
	var ca = document.cookie.split(';');
	for (var i = 0; i < ca.length; i++) {
		var c = ca[i];
	while (c.charAt(0) == ' ') c = c.substring(1, c.length);
		if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length, c.length);
	}
	return null;
}

function acceptCookies() {
	setCookie('cookie_consent', 'accepted', 365);
	document.getElementById('cookie-consent-modal').style.display = 'none';
}

function checkCookieConsent() {
	if (!getCookie('cookie_consent')) {
	document.getElementById('cookie-consent-modal').style.display = 'block';
	}
}

onload_functions.push('checkCookieConsent()');

// ]]>
</script>
<script src="{ROOT_PATH}assets/js/styleswitch.js"></script>
<script src="{ROOT_PATH}assets/js/forum_fn.js"></script>
<script src="{ROOT_PATH}assets/js/select_code.js"></script>

<!-- Font Awesome 6.5.2  -->
<!-- <link href="{ROOT_PATH}assets/css/all-custom.css" rel="stylesheet" type="text/css">  -->
<script src="{ROOT_PATH}assets/js/all-custom.js"></script>


<!-- IF S_NEW_DL_POPUP -->
<script>
// <![CDATA[
	window.open('{U_NEW_DOWNLOAD_POPUP}', '_blank', 'HEIGHT=225,resizable=yes,WIDTH=400');
// ]] >
</script>
<!-- ENDIF -->

<!-- IF S_DL_LYTEBOX -->
<script src="{ROOT_PATH}assets/js/lytebox/lytebox.js"></script>
<link rel="stylesheet" type="text/css" href="{ROOT_PATH}assets/js/lytebox/lytebox.css" />
<!-- ENDIF -->

<!-- IF S_TOTAL_IMAGES -->
<script src="{ROOT_PATH}assets/js/jquery/jquery.jcarousel.min.js"></script>
<link rel="stylesheet" type="text/css" href="{ROOT_PATH}assets/js/jquery/skins/tango/skin.css" />
<!-- ENDIF -->

<!-- IF S_CONTENT_DIRECTION eq 'rtl' -->
<link href="{T_THEME_PATH}/bidi.css" rel="stylesheet" type="text/css" media="screen, projection" />
<!-- ENDIF -->

<!-- IF STARGATE -->
<!-- INCLUDE set-width.html -->
<!-- INCLUDE portal_scripts.html -->
<!-- ENDIF -->

<!-- INCLUDE js.html -->

<script> 
// 
function notes() { 
	window.open("{U_PERS_NOTES_POPUP}", "_blank", "width=800,height=600,scrollbars=yes,resizable=no");
} 
// 
</script>
<!-- INCLUDE ads/ads.js -->

<!-- MOD : MSSTI ABBC3 (v{S_ABBC3_VERSION}) - Start //-->
<!-- INCLUDE ./../../abbcode/abbcode_header.html -->
<!-- MOD : MSSTI ABBC3 (v{S_ABBC3_VERSION}) - End //-->
<!-- INCLUDE gallery/plugins_header.html -->
<!-- ajaxlike -->
<script src="{ROOT_PATH}assets/js/jquery/jquery.tipsy.js"></script>
<script src="{ROOT_PATH}assets/js/jquery/common.js"></script>
<!-- INCLUDE socialnet/overall_header_hook_js.html -->
</head>

</head>

<body id="phpbb" class="nojs notouch section-{SCRIPT_NAME} {S_CONTENT_DIRECTION} {BODY_CLASS}<!-- IF SN_MODULE_IM_ENABLED --> sn-im-page<!-- ENDIF -->">
<!-- IF S_COOKIE_CONSENT_ENABLE -->
<!-- INCLUDE cookie_consent.html -->
<!-- ENDIF -->
<!-- IF STARGATE -->
<div id="page-width" class="stylewidth">
<!-- ENDIF -->

<div id="wrap" class="wrap">
	<a id="top" class="top-anchor" accesskey="t"></a>
	<div id="page-header">
		{ADS_1}
		<div class="headerbar" id="bground" role="banner">
			<div class="inner">
				<div id="site-description" class="site-description">
					<!-- IF STARGATE -->
						<a href="{U_PORTAL}" title="{L_PORTAL}" id="logo">{SITE_LOGO_IMG}</a>
					<!-- ELSE -->
						<a href="{U_INDEX}" title="{L_INDEX}" id="logo">{SITE_LOGO_IMG}</a>
					<!-- ENDIF -->
					<h1>{SITENAME}</h1>
					<p>{SITE_DESCRIPTION}</p>
					<p class="skiplink"><a href="#start_here">{L_SKIP}</a></p>
				</div>
			</div>
		</div>
		
		<div id="phpbb-navbar" class="phpbb-navbar">
			<div class="nav-button but-menu"><a href="#" id="phpbb-menu-toggle" title="Show menu">Menu</a></div>
			<!-- IF S_DISPLAY_SEARCH and not S_IN_SEARCH -->
			<div id="search-box" class="search-box" role="search">
				<form action="{U_SEARCH}" method="get" id="search">
				<fieldset>
					<input name="keywords" id="keywords" type="search" maxlength="128" title="{L_SEARCH_KEYWORDS}" class="inputbox search tiny" size="20" value="{SEARCH_WORDS}" placeholder="{L_SEARCH_MINI}" />
					{S_SEARCH_HIDDEN_FIELDS}
				</fieldset>
				</form>
			</div>
			<!-- ENDIF -->
			<ul id="phpbb-menu" class="phpbb-menu">
				<!-- IF STARGATE --><li class="nav-button but-home"><a href="{U_PORTAL}">{L_HOME}</a></li><!-- ENDIF -->
				<li class="nav-button but-home"><a href="{U_INDEX}">{L_FORUM}</a></li>
				<li id="quick-links" class="nav-button quick-links dropdown-container responsive-menu<!-- IF not S_USER_LOGGED_IN -->  hidden<!-- ENDIF -->" data-skip-responsive="true">
					<a href="#" class="dropdown-trigger">
						<i class="fa-solid fa-bars"></i><span> {L_QUICK_LINKS}</span>
					</a>
					<div class="sub-menu" style="display:none;">
						<div class="pointer"><div class="pointer-inner"></div></div>
						<ul>
							
							<!-- IF S_DISPLAY_SEARCH -->
							<li class="separator"></li>
							<!-- IF S_REGISTERED_USER -->
								<li>
									<a href="{U_SEARCH_SELF}" role="menuitem">
										<i class="fa-regular fa-file"></i><span> {L_SEARCH_SELF}</span>
									</a>
								</li>
								<!-- ENDIF -->
								<!-- IF S_USER_LOGGED_IN -->
								<li>
									<a href="{U_SEARCH_NEW}" role="menuitem">
										<i class="fa-regular fa-file" style="color: #e60a0d;"></i><span> {L_SEARCH_NEW}</span>
									</a>
								</li>
								<!-- ENDIF -->
								<!-- IF S_LOAD_UNREADS -->
								<li>
									<a href="{U_SEARCH_UNREAD}" role="menuitem">
										<i class="fa-regular fa-file" style="color: #e60a0d;"></i><span> {L_SEARCH_UNREAD}</span>
									</a>
								</li>
								<!-- ENDIF -->
								<li>
									<a href="{U_SEARCH_UNANSWERED}" role="menuitem">
										<i class="fa-regular fa-file" style="color: #929090;"></i><span> {L_SEARCH_UNANSWERED}</span>
									</a>
								</li>
								<li>
									<a href="{U_SEARCH_ACTIVE_TOPICS}" role="menuitem">
										<i class="fa-regular fa-file" style="color: #3184f2;"></i><span> {L_SEARCH_ACTIVE_TOPICS}</span>
									</a>
								</li>
								<li class="separator"></li>
								<li>
									<a href="{U_SEARCH}" role="menuitem">
										<i class="fa-solid fa-magnifying-glass"></i><span> {L_SEARCH}</span>
									</a>
								</li>
							<!-- ENDIF -->
							<!-- IF not S_IS_BOT and S_DISPLAY_MEMBERLIST or U_TEAM -->
								<li class="separator"></li>
								<!-- IF S_SHOW_MEM and S_DISPLAY_MEMBERLIST -->
									<li>
										<a href="{U_MEMBERLIST}" role="menuitem">
											<i class="fa-solid fa-users"></i><span> {L_MEMBERLIST}</span>
										</a>
									</li>
								<!-- ENDIF -->
								<!-- IF U_TEAM -->
									<li>
										<a href="{U_TEAM}" role="menuitem">
											<i class="fa-solid fa-people-group"></i><span> {L_THE_TEAM}</span>
										</a>
									</li>
								<!-- ENDIF -->
							<!-- ENDIF -->							
							</ul>
							<ul>
							<!-- IF SN_MODULE_ACTIVITYPAGE_ENABLED -->
							<li><a href="{U_SN_ACTIVITYPAGE}"><i class="fa-regular fa-pen-to-square fa-lg"></i> {L_SN_AP_ACTIVITYPAGE}</a></li>
							<!-- ENDIF -->	
				            <!-- BEGIN blog_links -->
					        <li><a href="{blog_links.URL}"><i class="fa-regular fa-keyboard"></i> {blog_links.TEXT}</a></li>
				            <!-- END blog_links -->
							<!-- IF S_SHOW_CAL -->
							<li><a href="{U_CALENDAR}" title="{L_CALENDAR}"><i class="fa-regular fa-calendar-days fa-lg"></i> {L_LANG_CALENDAR}</a></li>
							<!-- ENDIF -->
							<!-- IF S_SHOW_CHT and S_MCHAT_ENABLE and U_MCHAT -->
							<li><a href="{U_MCHAT}#mChat" title="{L_CHAT_EXPLAIN}"><i class="fa-solid fa-comment fa-lg"></i> {L_CHAT}</a></li>
							<!-- ENDIF -->			
							<!-- IF S_SHOW_CONTACT and S_CONTACT_ENABLED -->
							<li><a href="{U_CONTACT}" title="{L_CONTACT_BOARD_ADMIN}"><i class="fa-solid fa-message fa-lg"></i> {L_CONTACT_BOARD_ADMIN_SHORT}</a></li>
							<!-- ENDIF --> 	
							<!-- IF S_SHOW_DLS and S_SHOW_DL_LINK-->
							<li><a href="{U_DL_NAVS}" title="{L_DOWNLOADS}"><i class="fa-solid fa-file-arrow-down fa-lg"></i> {L_DOWNLOADS}</a></li>
							<!-- ENDIF -->			
							<!-- IF S_SHOW_GALL -->
							<li><a href="{U_GALLERY_MOD}" title="{L_GALLERY_EXPLAIN}"><i class="fa-regular fa-image fa-lg"></i> {L_GALLERY}</a></li>
							<!-- ENDIF -->				
							<!-- IF S_SHOW_KB -->
							<li><a href="{U_KB}" title="{L_KNOWLEDGE_BASE}" accesskey="k"><i class="fa-solid fa-book-open-reader fa-lg"></i> {L_KNOWLEDGE_BASE}</a></li>
							<!-- ENDIF -->				
						</ul>
					</div>
				</li>
				<!-- IF S_SHOW_FAQ -->
				<li class="nav-button" <!-- IF not S_USER_LOGGED_IN -->data-skip-responsive="true"<!-- ELSE -->data-last-responsive="true"<!-- ENDIF -->>
					<a href="{U_FAQ}" rel="help" title="{L_FAQ_EXPLAIN}" role="menuitem">
						<i class="fa-regular fa-circle-question"></i><span> {L_FAQ}</span>
					</a>
				</li>
				<!-- ENDIF -->
			<!-- IF U_ACP -->
				<li class="nav-button" data-last-responsive="true">
					<a href="{U_ACP}" title="{L_ACP}" role="menuitem">
						<i class="fa-solid fa-gears"></i><span> {L_ACP_SHORT}</span>
					</a>
				</li>
			<!-- ENDIF -->
			<!-- IF U_MCP -->
				<li class="nav-button" data-last-responsive="true">
					<a href="{U_MCP}" title="{L_MCP}" role="menuitem">
						<i class="fa-solid fa-gavel"></i><span> {L_MCP_SHORT}</span>
					</a>
				</li>
			<!-- ENDIF -->
		<!-- IF not S_USER_LOGGED_IN -->
				<li class="nav-button" data-skip-responsive="true">
					<a href="{U_LOGIN_LOGOUT}" title="{L_LOGIN_LOGOUT}" accesskey="x" role="menuitem">
						<i class="fa-solid fa-power-off"></i><span> {L_LOGIN_LOGOUT}</span>
					</a>
				</li>
			<!-- IF S_REGISTER_ENABLED and not (S_SHOW_COPPA or S_REGISTRATION) and not S_USER_LOGGED_IN -->
				<li class="nav-button" data-skip-responsive="true">
					<a href="{U_REGISTER}" role="menuitem">
						<i class="fa-solid fa-pen-to-square"></i><span> {L_REGISTER}</span>
					</a>
				</li>
			<!-- ENDIF -->
		<!-- ENDIF -->

			<!-- IF not S_IS_BOT and S_USER_LOGGED_IN -->
				<li id="username_logged_in" class="nav-button dropdown-container responsive-menu" data-skip-responsive="true"><a class="header-avatar dropdown-trigger"><i class="fa-solid fa-screwdriver-wrench"></i> {AVATAR_IMG} <span style="color: red; font-weight: bold;">{S_USERNAME}</span></a>
					<div class="sub-menu" style="display:none;">
					<div class="pointer"><div class="pointer-inner"></div></div>
					    <ul role="menu">
						<!-- IF U_RESTORE_PERMISSIONS -->
							<li>
								<a href="{U_RESTORE_PERMISSIONS}">
									<i class="fa-solid fa-rotate"></i><span> {L_RESTORE_PERMISSIONS}</span>
								</a>
							</li>
						<!-- ENDIF -->

							<li>
								<a href="{U_PROFILE}" title="{L_PROFILE}" role="menuitem">
									<i class="fa-solid fa-sliders"></i><span> {L_PROFILE}</span>
								</a>
							</li>
						<!-- IF U_USER_PROFILE -->
							<li>
								<a href="{U_USER_PROFILE}" title="{L_READ_PROFILE}" role="menuitem">
									<i class="fa-solid fa-user"></i><span> {L_READ_PROFILE}</span>
								</a>
							</li>
						<!-- ENDIF -->
						<!-- IF S_DISPLAY_SEARCH -->
							<li><a href="{U_SEARCH_SELF}"><i class="fa-regular fa-file fa-lg"></i> {L_SEARCH_SELF}</a></li>
						<!-- ENDIF -->
						<!-- IF S_SHOW_NOTES -->
							<li><a href="{U_PERS_NOTES}"><i class="fa-solid fa-note-sticky"></i> {L_PERS_NOTES}</a></li>
						<!-- ENDIF -->
						<!-- Start Ultimate Points -->
						<!-- IF S_POINTS_ENABLE -->
							<li><a href="{U_POINTS}" title="{L_POINTS_EXPLAIN}"><i class="fa-solid fa-sack-dollar fa-lg"></i> {POINTS_LINK}<!-- IF S_USER_LOGGED_IN and S_USE_POINTS --> [ {USER_POINTS} ] <!-- ENDIF --></a></li>
						<!-- ENDIF -->
						<!-- End Ultimate Points -->
						<!-- IF AJAXLIKE_ENABLE -->
							<li><a href="#" onclick="ajaxlike_liked_listbox('{AJAXLIKE_NOTIFY_CALLBACK}'); return false;"><i class="fa-solid fa-thumbs-up fa-lg"></i><span id="ajaxlike_not_new"><strong> {AL_NEW_LIKE}</strong>{L_AL_LIKE_NEW}</span></a></li>
						<!-- ENDIF -->
					    </ul>
						<ul>
							<li><a href="{U_LOGIN_LOGOUT}" title="{L_LOGIN_LOGOUT}" accesskey="x" role="menuitem"><i class="fa-solid fa-power-off"></i></i><span> {L_LOGIN_LOGOUT}</span></a></li>
						</ul>
					</div>
				</li>
			<!-- ENDIF -->



			</ul>
		</div>		
		<br/>		
		<div class="navbar">
			<div class="inner">

			<ul id="nav-main" class="linklist nav-main" role="menubar">
			    <!-- IF STARGATE -->
				<li class="icon-home"><a href="{U_PORTAL}" accesskey="h">{L_PORTAL}</a> &bull; <a href="{U_INDEX}" accesskey="h">{L_INDEX}</a><!-- BEGIN navlinks --> <strong>&#8249;</strong> <a href="{navlinks.U_VIEW_FORUM}">{navlinks.FORUM_NAME}</a><!-- END navlinks --> <!-- BEGIN dl_nav --> <strong>&#8249;</strong> <a href="{dl_nav.U_DOWNLOAD}">{dl_nav.L_DOWNLOAD}</a><!-- END dl_nav --></li>
			    <!-- ELSE -->
				<li class="icon-home"><a href="{U_INDEX}" accesskey="h">{L_INDEX}</a> <!-- BEGIN navlinks --> <strong>&#8249;</strong> <a href="{navlinks.U_VIEW_FORUM}">{navlinks.FORUM_NAME}</a><!-- END navlinks --> <!-- BEGIN dl_nav --> <strong>&#8249;</strong> <a href="{dl_nav.U_DOWNLOAD}">{dl_nav.L_DOWNLOAD}</a><!-- END dl_nav --></li>
			    <!-- ENDIF -->
			</ul>				
				
				
			<!-- IF not S_IS_BOT and S_USER_LOGGED_IN -->
			<ul class="linklist navlinks">
				<li>
				    <!-- IF not S_IS_BOT and not S_USER_LOGGED_IN and S_REGISTER_ENABLED and not (S_SHOW_COPPA or S_REGISTRATION) -->
				    <a href="{U_REGISTER}" title="{L_REGISTER}"><i class="fa-regular fa-handshake fa-lg"></i> {L_REGISTER}</a>
				    <!-- ENDIF -->
				    <!-- IF not S_IS_BOT and not S_USER_LOGGED_IN --> 
				    <a href="{U_LOGIN_LOGOUT}" title="{L_LOGIN_LOGOUT}" accesskey="x"><i class="fa-solid fa-power-off fa-lg"></i> {L_LOGIN_LOGOUT}</a>
				    <!-- ENDIF -->	
					<!-- IF S_DISPLAY_PM --> <a href="{U_PRIVATEMSGS}"><i class="fa-regular fa-message fa-lg"></i> {PRIVATE_MESSAGE_INFO}</a> &bull; <!-- ENDIF -->

				    <!-- IF SN_MODULE_ACTIVITYPAGE_ENABLED --> 
				    <span id="sn-ntf-notify"><a href="{U_VIEW_NOTIFY}" class="snbadge">{S_SN_USER_UNREAD_NOTIFY}</a></span><a href="{U_SN_ACTIVITYPAGE}"> {L_SN_AP_ACTIVITYPAGE}</a>
				    <!-- ENDIF -->					
					<!-- IF S_SHOW_MEETING and L_MEETING_LINK_N --> &bull; 
				    <a href="{U_MEETING_LINK_N}" title="{L_MEETING}">{L_MEETING_LINK_N}</a>
				    <!-- ENDIF -->
					<!-- IF U_RESTORE_PERMISSIONS --> &bull; 
					<a href="{U_RESTORE_PERMISSIONS}">{L_RESTORE_PERMISSIONS}</a>
					<!-- ENDIF -->
                    <!-- Ajax like notification -->
                    <!-- IF AJAXLIKE_ENABLE --> &bull; 
                    <a href="#" onclick="ajaxlike_liked_listbox('{AJAXLIKE_NOTIFY_CALLBACK}'); return false;"><span id="ajaxlike_not_new"><strong><span class="badge">{AL_NEW_LIKE}</span></strong>{L_AL_LIKE_NEW}</span></a>
					<!-- ENDIF -->
                    <!-- Ajax like notification -->
					<!-- IF U_USER_FLAG_NEW --> &bull; 
					<a href="{U_USER_FLAG_NEW}" style="color: red; font-weight: bold;">{L_USER_FLAG_NEW}</a>
					<!-- ENDIF -->
				</li>
		        <!-- IF S_DONATE_ENABLED -->
				<li class="rightside"><a href="{U_DONATE}" title="{L_DONATEINDEX}"><i class="fa-solid fa-circle-dollar-to-slot fa-xl"></i> {L_DONATEINDEX}</a></li>
		        <!-- ENDIF -->
				<!-- IF S_HACKLIST_ON --> &bull; <li class="icon-hacklist"><a href="{U_HACKLIST}" title="{L_HACKLIST}">{L_HACKLIST}</a></li><!-- ENDIF -->
				<!-- IF S_BUGTRACKER_ON --> &bull; <li class="icon-tracker"><a href="{U_BUG_TRACKER}" title="{L_BUG_TRACKER}">{L_BUG_TRACKER}</a></li><!-- ENDIF -->
			
				
				<!-- IF U_EMAIL_TOPIC --><li class="rightside"><a href="{U_EMAIL_TOPIC}" title="{L_EMAIL_TOPIC}" class="sendemail">{L_EMAIL_TOPIC}</a></li><!-- ENDIF -->
				<!-- IF U_EMAIL_PM --><li class="rightside"><a href="{U_EMAIL_PM}" title="{L_EMAIL_PM}" class="sendemail">{L_EMAIL_PM}</a></li><!-- ENDIF -->
				<!-- IF U_PRINT_TOPIC --><li class="rightside"><a href="{U_PRINT_TOPIC}" title="{L_PRINT_TOPIC}" accesskey="p" class="print">{L_PRINT_TOPIC}</a></li><!-- ENDIF -->
				<!-- IF U_PRINT_PM --><li class="rightside"><a href="{U_PRINT_PM}" title="{L_PRINT_PM}" accesskey="p" class="print">{L_PRINT_PM}</a></li><!-- ENDIF -->
			</ul>
			<!-- ENDIF -->




			</div>
		</div>
	</div>




	<!-- IF ADS_2 -->
	<br />
	<div class="forabg">
		<div class="inner">
			<ul class="topiclist">
				<li class="header">
					<dl class="icon">
						<dt>{L_ADVERTISEMENT}</dt>
					</dl>
				</li>
			</ul>
			<div style="padding: 5px 5px 2px 5px; font-size: 1.1em; background-color: #ECF1F3; margin: 0px auto; text-align: center;">
				{ADS_2}
			</div>
		</div>
	</div>
	<!-- ENDIF -->
	<a name="start_here"></a>
	<div id="page-body">

		<!-- IF S_NEW_DL_MESSAGE -->
			<div id="message" class="rules">
				<div class="inner">
					{NEW_DOWNLOAD_MESSAGE}
				</div>
			</div>
		<!-- ENDIF -->

		<!-- IF S_NOTES_MEM -->
			<div id="message" class="rules">
				<div class="inner">
					{NOTES_MEM}
				</div>
			</div>
		<!-- ENDIF -->
		<!-- IF S_BOARD_DISABLED and S_USER_LOGGED_IN and (U_MCP or U_ACP) -->
		<div id="information" class="rules">
			<div class="inner">
				<strong>{L_INFORMATION}:</strong> {L_BOARD_DISABLED}
			</div>
		</div>
		<!-- ENDIF -->
		<!-- IF STARGATE -->
			<!-- INCLUDE portal_header.html -->
		<!-- ENDIF -->
