<section class="forum-category panel folder-state-gallery">
    <div class="forum-header">
        <div class="forum-title">Temporary Forum/Topic State Images</div>
    </div>
    <div class="ad-panel-content">
        <ul>
            <li><svg class="folder-state-icon folder-state-icon--link" aria-hidden="true"><use href="#icon-state-link"></use></svg> img_forum_link</li>
            <li><svg class="folder-state-icon folder-state-icon--read" aria-hidden="true"><use href="#icon-state-folder"></use></svg> img_forum_read</li>
            <li><svg class="folder-state-icon folder-state-icon--locked" aria-hidden="true"><use href="#icon-state-lock"></use></svg> img_forum_read_locked</li>
            <li><svg class="folder-state-icon folder-state-icon--read" aria-hidden="true"><use href="#icon-state-folder-open"></use></svg> img_forum_read_subforum</li>
            <li><svg class="folder-state-icon folder-state-icon--unread" aria-hidden="true"><use href="#icon-state-folder"></use></svg> img_forum_unread</li>
            <li><svg class="folder-state-icon folder-state-icon--locked" aria-hidden="true"><use href="#icon-state-lock"></use></svg> img_forum_unread_locked</li>
            <li><svg class="folder-state-icon folder-state-icon--unread" aria-hidden="true"><use href="#icon-state-folder-open"></use></svg> img_forum_unread_subforum</li>
            <li><svg class="folder-state-icon" aria-hidden="true"><use href="#icon-state-arrow-right"></use></svg> img_topic_moved</li>
            <li><svg class="folder-state-icon folder-state-icon--read" aria-hidden="true"><use href="#icon-state-file-lines"></use></svg> img_topic_read</li>
            <li><svg class="folder-state-icon folder-state-icon--read folder-state-icon--mine" aria-hidden="true"><use href="#icon-state-file-lines"></use></svg> img_topic_read_mine</li>
            <li><svg class="folder-state-icon folder-state-icon--hot" aria-hidden="true"><use href="#icon-state-fire"></use></svg> img_topic_read_hot</li>
            <li><svg class="folder-state-icon folder-state-icon--hot folder-state-icon--mine" aria-hidden="true"><use href="#icon-state-fire"></use></svg> img_topic_read_hot_mine</li>
            <li><svg class="folder-state-icon folder-state-icon--locked" aria-hidden="true"><use href="#icon-state-lock"></use></svg> img_topic_read_locked</li>
            <li><svg class="folder-state-icon folder-state-icon--locked folder-state-icon--mine" aria-hidden="true"><use href="#icon-state-lock"></use></svg> img_topic_read_locked_mine</li>
            <li><svg class="folder-state-icon folder-state-icon--unread" aria-hidden="true"><use href="#icon-state-file-lines"></use></svg> img_topic_unread</li>
            <li><svg class="folder-state-icon folder-state-icon--unread folder-state-icon--mine" aria-hidden="true"><use href="#icon-state-file-lines"></use></svg> img_topic_unread_mine</li>
            <li><svg class="folder-state-icon folder-state-icon--hot" aria-hidden="true"><use href="#icon-state-fire"></use></svg> img_topic_unread_hot</li>
            <li><svg class="folder-state-icon folder-state-icon--hot folder-state-icon--mine" aria-hidden="true"><use href="#icon-state-fire"></use></svg> img_topic_unread_hot_mine</li>
            <li><svg class="folder-state-icon folder-state-icon--locked" aria-hidden="true"><use href="#icon-state-lock"></use></svg> img_topic_unread_locked</li>
            <li><svg class="folder-state-icon folder-state-icon--locked folder-state-icon--mine" aria-hidden="true"><use href="#icon-state-lock"></use></svg> img_topic_unread_locked_mine</li>
            <li><svg class="folder-state-icon folder-state-icon--read" aria-hidden="true"><use href="#icon-state-thumbtack"></use></svg> img_sticky_read</li>
            <li><svg class="folder-state-icon folder-state-icon--read folder-state-icon--mine" aria-hidden="true"><use href="#icon-state-thumbtack"></use></svg> img_sticky_read_mine</li>
            <li><svg class="folder-state-icon folder-state-icon--locked" aria-hidden="true"><use href="#icon-state-lock"></use></svg> img_sticky_read_locked</li>
            <li><svg class="folder-state-icon folder-state-icon--locked folder-state-icon--mine" aria-hidden="true"><use href="#icon-state-lock"></use></svg> img_sticky_read_locked_mine</li>
            <li><svg class="folder-state-icon folder-state-icon--unread" aria-hidden="true"><use href="#icon-state-thumbtack"></use></svg> img_sticky_unread</li>
            <li><svg class="folder-state-icon folder-state-icon--unread folder-state-icon--mine" aria-hidden="true"><use href="#icon-state-thumbtack"></use></svg> img_sticky_unread_mine</li>
            <li><svg class="folder-state-icon folder-state-icon--locked" aria-hidden="true"><use href="#icon-state-lock"></use></svg> img_sticky_unread_locked</li>
            <li><svg class="folder-state-icon folder-state-icon--locked folder-state-icon--mine" aria-hidden="true"><use href="#icon-state-lock"></use></svg> img_sticky_unread_locked_mine</li>
            <li><svg class="folder-state-icon folder-state-icon--read" aria-hidden="true"><use href="#icon-state-bullhorn"></use></svg> img_announce_read / img_global_read</li>
            <li><svg class="folder-state-icon folder-state-icon--read folder-state-icon--mine" aria-hidden="true"><use href="#icon-state-bullhorn"></use></svg> img_announce_read_mine / img_global_read_mine</li>
            <li><svg class="folder-state-icon folder-state-icon--locked" aria-hidden="true"><use href="#icon-state-lock"></use></svg> img_announce_read_locked / img_global_read_locked</li>
            <li><svg class="folder-state-icon folder-state-icon--locked folder-state-icon--mine" aria-hidden="true"><use href="#icon-state-lock"></use></svg> img_announce_read_locked_mine / img_global_read_locked_mine</li>
            <li><svg class="folder-state-icon folder-state-icon--unread" aria-hidden="true"><use href="#icon-state-bullhorn"></use></svg> img_announce_unread / img_global_unread</li>
            <li><svg class="folder-state-icon folder-state-icon--unread folder-state-icon--mine" aria-hidden="true"><use href="#icon-state-bullhorn"></use></svg> img_announce_unread_mine / img_global_unread_mine</li>
            <li><svg class="folder-state-icon folder-state-icon--locked" aria-hidden="true"><use href="#icon-state-lock"></use></svg> img_announce_unread_locked / img_global_unread_locked</li>
            <li><svg class="folder-state-icon folder-state-icon--locked folder-state-icon--mine" aria-hidden="true"><use href="#icon-state-lock"></use></svg> img_announce_unread_locked_mine / img_global_unread_locked_mine</li>
            <li><svg class="folder-state-icon folder-state-icon--read" aria-hidden="true"><use href="#icon-state-newspaper"></use></svg> img_news_read</li>
            <li><svg class="folder-state-icon folder-state-icon--read folder-state-icon--mine" aria-hidden="true"><use href="#icon-state-newspaper"></use></svg> img_news_read_mine</li>
            <li><svg class="folder-state-icon folder-state-icon--locked" aria-hidden="true"><use href="#icon-state-lock"></use></svg> img_news_read_locked</li>
            <li><svg class="folder-state-icon folder-state-icon--locked folder-state-icon--mine" aria-hidden="true"><use href="#icon-state-lock"></use></svg> img_news_read_locked_mine</li>
            <li><svg class="folder-state-icon folder-state-icon--unread" aria-hidden="true"><use href="#icon-state-newspaper"></use></svg> img_news_unread</li>
            <li><svg class="folder-state-icon folder-state-icon--unread folder-state-icon--mine" aria-hidden="true"><use href="#icon-state-newspaper"></use></svg> img_news_unread_mine</li>
            <li><svg class="folder-state-icon folder-state-icon--locked" aria-hidden="true"><use href="#icon-state-lock"></use></svg> img_news_unread_locked</li>
            <li><svg class="folder-state-icon folder-state-icon--locked folder-state-icon--mine" aria-hidden="true"><use href="#icon-state-lock"></use></svg> img_news_unread_locked_mine</li>
            <li><svg class="folder-state-icon folder-state-icon--read" aria-hidden="true"><use href="#icon-state-folder-open"></use></svg> img_subforum_read</li>
            <li><svg class="folder-state-icon folder-state-icon--unread" aria-hidden="true"><use href="#icon-state-folder-open"></use></svg> img_subforum_unread</li>
            <li><svg class="folder-state-icon folder-state-icon--read" aria-hidden="true"><use href="#icon-state-envelope"></use></svg> img_pm_read</li>
            <li><svg class="folder-state-icon folder-state-icon--unread" aria-hidden="true"><use href="#icon-state-envelope"></use></svg> img_pm_unread</li>
        </ul>
    </div>
</section>