<table class="extra" cellspacing="0" cellpadding="0">
	<tr>
	<!-- IF S_SHOW_MINICAL -->
		<td id="minical" align="left" valign="top" >
			<table class="tablebg" cellspacing="1" width="200">
				<tr>
					<td class="cat" colspan="2"><h4><a href="{U_CALENDAR}">{L_LANG_CALENDAR}</a></h4></td>
				</tr>
				<tr>
					<td class="row1" valign="top"><!-- INCLUDE blocks/block_calendar.html --></td>
				</tr>
			</table>
		</td>
	<!-- ENDIF -->

<!-- IF S_MCHAT_ENABLE and S_MCHAT_ON_INDEX and not S_MCHAT_LOCATION -->
		<td width="100%" valign="top"><!-- INCLUDE mchat_body.html --></td>
<!-- ENDIF -->
    </tr>
</table>