<!-- IF S_MCHAT_ENABLE and MCHAT_INDEX_STATS and U_MCHAT -->
	<br clear="all" />

	<table class="tablebg" width="100%" cellspacing="1">
		<tr>
			<td class="cat" colspan="2"><h4><a href="{U_MCHAT}#mChat">{L_WHO_IS_CHATTING}</a></h4></td>
		</tr>
		<tr>
			<td class="row1" align="center" valign="middle"><img src="{T_THEME_PATH}/images/whosonline.gif" alt="{L_WHO_IS_ONLINE}" /></td>
			<td class="row1" width="100%"><span class="genmed">{MCHAT_INDEX_USERS_COUNT} {L_MCHAT_ONLINE_EXPLAIN}<br />{MCHAT_INDEX_USERS_LIST}</span></td>
		</tr>
	</table>
<!-- ENDIF -->