<script src="{ROOT_PATH}styles/assets/js/css-menu.js"></script>
<a id="top"></a>
<nav id="menu">
  <input type="checkbox" id="responsive-menu" onclick="updatemenu()"><label></label>
  <ul>
  	<div class="genarrow" style="valign: text-bottom; float: {S_CONTENT_FLOW_BEGIN}"><a href="#bottom" title="{L_BOTTOM}"><i class="fa-solid fa-arrow-down"></i></a></div>
    <!-- IF STARGATE -->
	<li><a href="{U_PORTAL}" title="{L_PORTAL}">{L_PORTAL}</a></li>
	<!-- ENDIF -->
    &bull;<li><a href="{U_INDEX}" title="{L_INDEX}">{L_FORUM}</a></li>
	<!-- IF S_DISPLAY_SEARCH -->
	&bull;<li><a href="{U_SEARCH}">{L_SEARCH}</a></li>
	<!-- ENDIF -->
	<!-- IF S_DISPLAY_MEMBERLIST -->
	&bull;<li><a href="{U_MEMBERLIST}">{L_MEMBERLIST}</a></li>
	<!-- ENDIF -->
    <!-- IF S_USER_LOGGED_IN --><!-- IF S_DISPLAY_PM -->
    &bull;<li><a href="{U_PRIVATEMSGS}">{PRIVATE_MESSAGE_INFO}<!-- IF PRIVATE_MESSAGE_INFO_UNREAD -->, {PRIVATE_MESSAGE_INFO_UNREAD}<!-- ENDIF --></a></li>
	<!-- ENDIF --><!-- ENDIF --> 
    &bull;<li><a class="dropdown-arrow" href="http://">{L_LINKS}</a>
      <ul class="sub-menus">
        <li><a href="{U_FAQ}">{L_FAQ}</a></li>
        <li><a href="{U_KB}" title="{L_KB_EXPLAIN}">{L_KNOWLEDGE_BASE}</a></li>
	  <!-- IF not S_IS_BOT -->
		<!-- IF S_SHOW_DL_LINK -->
		<li><a href="{U_DL_NAVS}">{L_DOWNLOADS}</a></li>
		<!-- ENDIF -->
		<!-- IF S_HACKLIST_ON -->
		<li><a href="{U_HACKLIST}" title="{L_HACKLIST}">{L_HACKLIST}</a></li>
		<!-- ENDIF -->
		<!-- IF S_BUGTRACKER_ON -->
		<li><a href="{U_BUG_TRACKER}" title="{L_BUG_TRACKER}">{L_BUG_TRACKER}</a></li>
		<!-- ENDIF -->
		<!-- IF S_SHOW_GALL -->
		<li><a href="{U_GALLERY_MOD}" title="{L_GALLERY_EXPLAIN}">{L_GALLERY}</a></li>
		<!-- ENDIF -->
		<!-- IF S_SHOW_CHT -->
		<li><a href="{U_CHAT}" title="{L_CHAT_EXPLAIN}">{L_CHAT}</a></li>
		<!-- ENDIF -->
		<!-- IF S_CONTACT_ENABLED -->
        <li><a href="{U_CONTACT}">{L_CONTACT_BOARD_ADMIN_SHORT}</a></li>
		<!-- ENDIF -->
      <!-- ENDIF -->
      </ul>
    </li>
	<!-- IF not S_IS_BOT -->
	<!-- IF not S_USER_LOGGED_IN -->
    &bull;<li><a href="{U_LOGIN_LOGOUT}">{L_LOGIN_LOGOUT}</a></li>
	
	<!-- IF S_REGISTER_ENABLED and not (S_SHOW_COPPA or S_REGISTRATION) -->
	&bull;<li><a href="{U_REGISTER}">{L_REGISTER}</a></li>
	<!-- ENDIF -->
	<!-- ENDIF -->
	<!-- ENDIF -->
	
	
	
	
	<!-- IF S_USER_LOGGED_IN --><!-- IF not S_IS_BOT -->
    &bull;<li><a class="dropdown-arrow username" href="http://">{S_USERNAME}</a>
      <ul class="sub-menus">
		<li><a href="{U_PROFILE}">{L_PROFILE}</a></li>
		<!-- IF S_DISPLAY_SEARCH -->
		<li><a href="{U_SEARCH_SELF}">{L_SEARCH_SELF}</a></li>
		<!-- ENDIF -->
        <!-- IF L_MEETING_LINK_N -->
        <li><a href="{U_MEETING_LINK_N}">{L_MEETING_LINK_N}</a></li>
		<!-- ENDIF -->						
        <li><a href="{U_PERS_NOTES}">{L_PERS_NOTES}</a></li>
		<!-- IF U_RESTORE_PERMISSIONS -->
		<li><a href="{U_RESTORE_PERMISSIONS}">{L_RESTORE_PERMISSIONS}</a></li>
		<!-- ENDIF -->
      	<!-- IF STARGATE --><!-- IF S_ARRANGE -->
        <li><span style="display:inline;text-align:left;" id="_OFF">
			<a href="{U_PORTAL}" class="arrange_off" onclick="ShowHide("_ON"); ShowHide("_OFF"); " title="{L_ARRANGE_OFF}">{L_ARRANGE_OFF}</a>
			</span>
			<!-- ELSE -->
			<span style="display: inline;text-align:left;" id="_ON">
			<a href="{U_PORTAL_ARRANGE}" class="arrange_on"  onclick="ShowHide("_OFF"); ShowHide("_ON"); " title="{L_ARRANGE_ON}">{L_ARRANGE_ON}</a>
			</span>
		</li>
        <!-- ENDIF --><!-- ENDIF -->
        <li><a href="{U_LOGIN_LOGOUT}">{L_LOGIN_LOGOUT}</a></li>		
      </ul>
    </li>
    <!-- ENDIF --><!-- ENDIF -->
  	<div class="genarrow" style="float: {S_CONTENT_FLOW_END};"><a href="#bottom" title="{L_BOTTOM}"><i class="fa-solid fa-arrow-down"></i></a></div>
  </ul>
</nav>