<script src="{ROOT_PATH}styles/assets/js/css-footer-menu.js"></script>
<a id="bottom"></a>
<nav id='menu_footer'>
  <input type='checkbox' id='responsive-footer-menu' onclick='updatefootermenu()'><label></label>
  <ul>
  	<div class="genarrow" style="float: {S_CONTENT_FLOW_BEGIN};"><a href="#top" title="{L_BACK_TO_TOP}"><i class="fa-solid fa-arrow-up"></i></a></div>

    <!-- IF STARGATE -->
	<li><a href="{U_PORTAL}" title="{L_PORTAL}">{L_PORTAL}</a></li>
	<!-- ENDIF -->
    &bull;<li><a href="{U_INDEX}" title="{L_INDEX}">{L_FORUM}</a></li>
	
	<!-- IF U_ACP -->
	&bull;<li><a href="{U_ACP}">{L_ACP}</a></li>
	<!-- ENDIF -->
	
 	<!-- IF not S_IS_BOT -->
    &bull;<li><a href="{U_LOGIN_LOGOUT}">{L_LOGIN_LOGOUT}</a></li>
	<!-- IF not S_USER_LOGGED_IN and S_REGISTER_ENABLED and not (S_SHOW_COPPA or S_REGISTRATION) -->
	&bull;<li><a href="{U_REGISTER}">{L_REGISTER}</a></li>
	<!-- ENDIF -->
	<!-- IF S_CONTACT_ENABLED -->
    &bull;<li><a href='{U_CONTACT}'>{L_CONTACT_BOARD_ADMIN_SHORT}</a></li>
	<!-- ENDIF -->
	<!-- IF S_MOD_DISPLAY--> 
	&bull;<li><a href="{U_MODS_DB}">{L_MODS_DB}</a></li>
	<!-- ENDIF -->   
	<!-- ENDIF -->
	
  	<div class="genarrow" style="float: {S_CONTENT_FLOW_END};"><a href="#top" title="{L_BACK_TO_TOP}"><i class="fa-solid fa-arrow-up"></i></a></div>
  </ul>
</nav>