<!-- INCLUDE overall_header.html -->
<table class="tablebg" width="100%" cellspacing="1">
	<tr>
		<th nowrap="nowrap" width="70%" align="left">{L_PAGE}</th>
		<th nowrap="nowrap" width="30%">{L_AUTHOR}</th>

	</tr>
	<!-- BEGIN pagelist -->
		<tr class="row1">
			<td class="genmed" align="left"><a class="forumlink" href="{pagelist.PAGE_LINK}">{pagelist.PAGE_TITLE}</a><br />{pagelist.PAGE_DESC}</dt></td>
			<td class="genmed" align="left">{pagelist.PAGE_AUTHOR}</td>
		</tr>
	<!-- END pagelist -->
</table>

<br clear="all" />

<!-- INCLUDE breadcrumbs.html -->

<!-- INCLUDE overall_footer.html -->