<!-- IDTAG block_images_legend starts 28 April 2012 -->
<div class="forum-legend">
	<span class="forum-legend-item"><span class="forum-icon unread"><svg class="css-icon" aria-hidden="true" focusable="false"><use href="#icon-state-folder"></use></svg></span> {L_UNREAD_POSTS}</span>
	<span class="forum-legend-item"><span class="forum-icon read"><svg class="css-icon" aria-hidden="true" focusable="false"><use href="#icon-state-folder"></use></svg></span> {L_NO_UNREAD_POSTS}</span>
	<span class="forum-legend-item"><span class="forum-icon locked"><svg class="css-icon" aria-hidden="true" focusable="false"><use href="#icon-state-lock"></use></svg></span> {L_FORUM_LOCKED}</span>
</div>
<!-- IDTAG block images_legend ends -->