
<!-- BEGIN thumb --><img src="{URL}" alt="{L_IMAGE}" width="{WIDTH}" class="hoverbox resize_me" /><!-- END thumb -->
<!-- BEGIN thumb_aligned --><div class="abbc3-{ALIGN_TYPE}"><img src="{URL}" alt="{L_IMAGE}" width="{WIDTH}" class="hoverbox resize_me" /></div><!-- END thumb_aligned -->
<!-- BEGIN thumb_float --><img src="{URL}" alt="{L_IMAGE}" width="{WIDTH}" class="hoverbox resize_me" style="float : {FLOAT};" /><!-- END thumb_float -->

<!-- BEGIN img_aligned --><div class="abbc3-{ALIGN_TYPE}"><img src="{URL}" alt="{L_IMAGE}" class="resize_me" /></div><!-- END img_aligned -->
<!-- BEGIN img_float --><img src="{URL}" alt="{L_IMAGE}" class="resize_me" style="float : {FLOAT}; padding : 0 10px 10px 10px;" /><!-- END img_float -->
<!-- BEGIN img_float_bar --><div style="float : {FLOAT}; padding : 0 10px 10px 10px;"><img src="{URL}" alt="{L_IMAGE}" class="resize_me" /></div><!-- END img_float_bar -->

<!-- BEGIN nfo --><div class="codebox"><div class="codeheader">{NFO_TITLE}: </div><pre class="nfo">{NFO_TEXT}</pre></div><!-- END nfo -->

<!-- BEGIN search -->{SEARCH_SITE} {SEARCH_TEXT} &rsaquo;&rsaquo;&rsaquo; <a href="{URL}" data-action="open-new-window">{SEARCH_STRING}</a><!-- END search -->

<!-- BEGIN ed2k_file --><img src="{ED2K_ICON}" class="ed2k_img" alt="" title="" />&nbsp;<a href="{ED2K_URL}" class="postlink">{ED2K_NAME}</a>&nbsp;[{ED2K_SIZE}]&nbsp;<a href="http://ed2k.shortypower.org/?hash={ED2K_HASH}" data-action="open-new-window"><img src="{ED2K_STAT}" class="ed2k_img" alt="" title="" /></a><!-- END ed2k_file -->

<!-- BEGIN moderator --><section class="ModTable"><div class="exclamation">!</div><div class="mod-body"><p class="rowuser">{MOD_USER} {L_WROTE}:</p><div class="rowtext">{MOD_TEXT}</div></div></section><!-- END moderator -->

<!-- BEGIN offtopic --><section class="OffTopic"><h4 class="OffTopicTitle">{OFFTOPIC}</h4><div class="OffTopicText">{OFFTOPIC_TEXT}</div></section><!-- END offtopic -->

<!-- BEGIN spoiler --><div class="spoilwrapper"><div class="spoiltitle"><span class="btnspoil" data-action="abbc3-spoiler" data-spoiler-hide="{LA_SPOILER_HIDE}" data-spoiler-show="{LA_SPOILER_SHOW}"><a href="javascript:void(0)" data-action="abbc3-spoiler" data-spoiler-hide="{LA_SPOILER_HIDE}" data-spoiler-show="{LA_SPOILER_SHOW}">{SPOILER_SHOW}</a></span></div><div class="spoilcontent"><div class="spoiltext">{SPOILER_TEXT}</div></div></div><!-- END spoiler -->

<!-- BEGIN unhidden --><section class="unhiddenbox"><h4 class="unhidden">{HIDDEN_OFF}</h4><div>{UNHIDDEN_TEXT}</div></section><!-- END unhidden -->
<!-- BEGIN hidden --><section class="hiddenbox"><h4 class="hidden">{HIDDEN_ON}</h4><div class="hiddentext">{HIDDEN_TEXT}</div></section><!-- END hidden -->

<!-- BEGIN bbvideo --><div class="bbvideo" style="width: {BBVIDEO_WIDTH}px;"><div class="bbvideotitle">{BBVIDEO_IMAGE}{BBVIDEO_LINK}</div><div class="bbvideocontent">{BBVIDEO_VIDEO}</div></div><!-- END bbvideo -->

<!-- BEGIN anchor_link -->&nbsp;<a id="{ANCHOR_ID}" href="#{ANCHOR_HREF}" class="anchor" title="{L_GOTO} {ANCHOR_HREF}" {ANCHOR_EXTRA}>{ANCHOR_TEXT}</a>&nbsp;<!-- END anchor_link -->
<!-- BEGIN anchor_element -->&nbsp;<span id="{ANCHOR_ID}" class="anchor" title="The anchor {ANCHOR_ID}">{ANCHOR_TEXT}</span>&nbsp;<!-- END anchor_element -->

<!-- BEGIN scrippet --><div id="scrippet"><div class="scrippet-shadow"><div class="inner-shadow">{SCRIPPET_TEXT}<br /></div></div></div><!-- END scrippet -->

<!-- BEGIN decoration --><span class="{CLASS}" style="{STYLE}">{TEXT}</span><!-- END decoration -->
