<script src="{ROOT_PATH}assets/js/scroller.js"></script>

<!-- IF S_IS_PORTAL and S_ARRANGE or S_SGP_AJAX -->
<script src="{ROOT_PATH}assets/js/drag_n_drop/prototype.js"></script>
<script src="{ROOT_PATH}assets/js/calendar.js"></script>
<script src="{ROOT_PATH}assets/js/php.js"></script>
<script src="{ROOT_PATH}assets/js/sgp_ajax.js"></script>
<!-- ENDIF -->
<!-- IF S_IS_PORTAL and S_ARRANGE -->
<script src="{ROOT_PATH}assets/js/drag_n_drop/scriptaculous.js"></script>
<script src="{ROOT_PATH}assets/js/drag_n_drop/builder.js"></script>
<script src="{ROOT_PATH}assets/js/drag_n_drop/dragdrop.js"></script>
<script src="{ROOT_PATH}assets/js/drag_n_drop/effects.js"></script>
<script src="{ROOT_PATH}assets/js/drag_n_drop/controls.js"></script>
<script src="{ROOT_PATH}assets/js/drag_n_drop/slider.js"></script>
<script src="{ROOT_PATH}assets/js/drag_n_drop/unittest.js"></script>
<!-- ENDIF -->

<script src="{ROOT_PATH}assets/js/portal.js"></script>
<script src="{ROOT_PATH}assets/js/portal_core.js"></script>

<!-- IF S_HIGHSLIDE -->
<script src="{ROOT_PATH}assets/js/highslide/highslide-full.packed.js"></script>
<link rel="stylesheet" type="text/css" href="{ROOT_PATH}assets/js/highslide/highslide.css" />
<div id="portal-highslide-config" data-graphics-dir="{ROOT_PATH}assets/js/highslide/graphics/"></div>
<!-- ENDIF -->

<link rel="stylesheet" href="{T_STYLESHEET_PORTAL_COMMON}" type="text/css" />
<link rel="stylesheet" href="{T_STYLESHEET_PORTAL_OVERLOAD}" type="text/css" />

<script src="{ROOT_PATH}assets/js/jquery/imgbubbles.js"></script>
<script src="{ROOT_PATH}assets/js/jquery/jquery.hoverIntent.js"></script>

<!-- IF S_VIEWTOPIC -->
<div id="portal-viewtopic-config" data-quick-reply="true"></div>
<!-- ENDIF -->

<div id="portal-interaction-config" data-hidden-parts="true" data-external-links="true" data-image-bubbles="true" data-video-toggle="true" data-accordion="true"></div>

<!-- IF RESIZE -->
<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
<div id="portal-resize-config" data-resize="true"></div>
<!-- ENDIF -->

