<!-- INCLUDE simple_header.html -->

<table width="100%" cellspacing="1" cellpadding="3" class="table1">
<thead>
<tr class="row1">
	<th><label>{HELP_TITLE}</label></th>
</tr>
</thead>
<tbody>
<tr>
	<td><span class="gen" style="text-decoration: underline">{HELP_OPTION}:</span><br /><br /><span class="genmed">{HELP_STRING}</span></td>
</tr>
</tbody>
</table>

<br />

<fieldset class="submit-buttons">
	<input type="button" onclick="javascript:window.close();" class="btnlite" value="{L_CLOSE}" />
</fieldset>

<!-- INCLUDE simple_footer.html -->