<!-- IDTAG block_calendar starts -->
<script src="{ROOT_PATH}assets/js/php.js"></script>
<script src="{ROOT_PATH}assets/js/sgp_ajax.js"></script>
<div class="block_data_calc bg4">
	<form id="hidden">
		<input type="hidden" id="cal_h_month" name="cal_h_month" value="{HIDDEN_MONTH}" />
		<input type="hidden" id="cal_h_year" name="cal_h_year" value="{HIDDEN_YEAR}" />
	</form>
	<table width="100%" cellpadding="1" cellspacing="1" border="0">
		<tr>
			<td id="cal_month_prev" align="left" onclick="populateTable('block_calendar:populate_table', 'hidden', 'prev');" style="cursor:pointer;"><img src="{T_IMAGESET_PATH}/arrowleftmonth.png"></td>
			<td id="cal_month_name" align="center"></td>
			<td id="cal_month_next" align="right" onclick="populateTable('block_calendar:populate_table', 'hidden', 'next');" style="cursor:pointer;"><img src="{T_IMAGESET_PATH}/arrowrightmonth.png"></td>
		</tr>
		<tr>
			<td align="center" colspan="3">
				<table class="calendar" width="100%" cellpadding="0" cellspacing="0" border="0">{CALENDAR_TABLE}</table>
			</td>
		</tr>
	</table>
	<!-- IF S_SHOW_UPCOMING_EVENTS or S_SHOW_UPCOMING_BIRTHDAYS -->
	<br />
	<div class="">
	    <div class="panel">
	        <ul class="topiclist">
	            <li class="row">
	                <dl class="row-item">
	                    <dt>
							<!-- IF S_SHOW_UPCOMING_EVENTS -->
	                        <div class="list"><strong>{L_UPCOMING_EVENTS}{L_EVENTS_TIMEFRAME}:</strong></div>
							<!-- ENDIF -->
							<!-- IF S_SHOW_UPCOMING_BIRTHDAYS -->
	                        <div class="list"><strong>{L_UPCOMING_BIRTHDAYS}{L_BIRTHDAYS_TIMEFRAME}:</strong></div>
							<!-- ENDIF -->
	                    </dt>
	                </dl>
	            </li>
	        </ul>
	        <ul class="topiclist forums">
	            <li class="row">
	                <dl class="row-item">
	                    <dt>
							<!-- IF S_SHOW_UPCOMING_EVENTS -->
	                        <div class="list-inner">
								<!-- IF S_IS_EVENTS -->
								<!-- BEGIN event_list -->
	                            <div class="event-item">{event_list.TITLE} ({L_ON} {event_list.DATE} {L_AT} {event_list.TIME})</div>
	                            <!-- IF not event_list.S_LAST_ROW --><hr class="dashed" /><!-- ENDIF -->
								<!-- END event_list -->
								<!-- ELSE -->
	                            <div class="no-events">{L_NO_UPCOMING_EVENTS}</div>
								<!-- ENDIF -->
	                        </div>
							<!-- ENDIF -->
							<!-- IF S_SHOW_UPCOMING_BIRTHDAYS -->
	                        <div class="list-inner">
	                            <!-- IF S_IS_BIRTHDAYS -->
	                            <div class="birthday-list">{L_CONGRATULATIONS}: 
	                                <!-- BEGIN bday_list -->
	                                <div class="birthday-item">{bday_list.USERNAME_FULL} ({bday_list.AGE} {L_ON} {bday_list.ON_DAY})</div>
	                                <!-- IF not bday_list.S_LAST_ROW --><hr class="dashed" /><!-- ENDIF -->
	                                <!-- END bday_list -->
	                            </div>
	                            <!-- ELSE -->
	                            <div class="no-birthdays">{L_NO_UPCOMING_BIRTHDAYS}</div>
								<!-- ENDIF -->
	                        </div>
							<!-- ENDIF -->
	                    </dt>
	                </dl>
	            </li>
	        </ul>
	    </div>
	</div>
	<!-- ENDIF -->
	<!-- IF S_NEW_EVENT -->
	<div style="width:100%;"><a class="button_event_new_icon" href="calendar.php?mode=main#tabs;" title="{L_CALENDAR}"><span>{L_CALENDAR}</span></a></div>
	<!-- ENDIF -->
</div>

<script>
populateTable('block_calendar:populate_table', 'hidden', '');
</script>
<!-- IDTAG block_calendar ends -->