<!-- IF S_NOTES_POPUP -->
	<!-- INCLUDE simple_header.html -->
<!-- ELSE -->
	<!-- INCLUDE overall_header.html -->
<!-- ENDIF -->

<form action="{S_FORM_ACTION}" method="post" id="notes">

<div class="navbar">
	<div class="inner">

	<ul class="linklist">
		<li class="icon-pages"><label>{L_NOTES}</label>&bull;&nbsp;{L_NOTES_TOTAL}</li>
		<!-- IF S_NEW_NOTE -->
		<li class="rightside"><a href="{U_NEW_NOTE}">{L_ADD_NOTE}</a></li>
		<!-- ENDIF -->
	</ul>

	<ul class="linklist">
		<li>{SEARCH_IN}&nbsp;<input type="text" name="search_string" size="30" maxlength="50" class="inputbox autowidth" />&nbsp;<input type="submit" class="button2" value="{L_SEARCH}" /></li>
		<li class="rightside">{SORT_BY}&nbsp;{SORT_ORDER}&nbsp;<input type="submit" class="button2" value="{L_SORT}" /></li>
	</ul>

	</div>
</div>

</form>

<!-- IF L_FILTER -->
<p class="submit-buttons"><i>* {L_FILTER}</i><p>
<!-- ENDIF -->

<h2>{L_NOTES}</h2>

<!-- IF S_NO_NOTES -->
	<h3>{L_NO_NOTES}</h3>

	<br />

<!-- ELSE -->
	<!-- BEGIN notes_row -->
	<div class="post <!-- IF notes_row.S_ROW_COUNT is odd -->bg1<!-- ELSE -->bg2<!-- ENDIF -->">
		<div class="inner">
	
		<div class="postbody">
		
			<h3 <!-- IF notes_row.S_FIRST_ROW -->class="first"<!-- ENDIF -->>{notes_row.NOTE_SUBJECT}</h3>
			<!-- IF notes_row.NOTES_MEM --><p class="rules"><strong>{L_NOTES_MEM}: </strong>{notes_row.NOTES_MEM}</p><!-- ENDIF -->
			<div class="content">{notes_row.NOTE_TEXT}</div>
		
		</div>
	
		<dl class="postprofile">
			<dt>
				<p class="author"> <b>{L_POSTED}:</b><br />{notes_row.NOTE_DATE}</p>
	
				<br />
	
				<ul class="profile-icons">
					<li class="edit-icon"><a href="{notes_row.U_EDIT_NOTE}" title="{L_EDIT_NOTE}"><span>{L_EDIT_NOTE}</span></a></li>
					<li class="delete-icon"><a href="{notes_row.U_DELETE_NOTE}" title="{L_DELETE_NOTE}"><span>{L_DELETE_NOTE}</span></a></li>
				</ul>
		
			</dt>
		</dl>
	
		<div class="back2top"><a href="#wrap" class="top" title="{L_BACK_TO_TOP}">{L_BACK_TO_TOP}</a></div>
	
		</div>
	</div>
	<!-- END notes_row -->
<!-- ENDIF -->

<div class="navbar">
	<div class="inner">

	<ul class="linklist">
		<li class="icon-pages"><label>{L_NOTES}</label>&bull;&nbsp;{L_NOTES_TOTAL}</li>
		<!-- IF S_NEW_NOTE -->
		<li class="rightside"><a href="{U_NEW_NOTE}">{L_ADD_NOTE}</a></li>
		<!-- ENDIF -->
	</ul>

	</div>
</div>

<!-- IF S_NOTES_POPUP -->
	<br />

	<p class="submit-buttons">
		<input type="submit" name="cancel" class="button1" value="{L_CLOSE}" onclick="javascript:window.close()" />
	</p>

	<br />

	<!-- INCLUDE simple_footer.html -->
<!-- ELSE -->
	<!-- INCLUDE overall_footer.html -->
<!-- ENDIF -->
