#
# Uncomment the statement below if you want to make use of
# HTTP authentication and it does not already work.
# This could be required if you are for example using PHP via Apache CGI.
#
#<IfModule mod_rewrite.c>
#RewriteEngine on
#RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization},L]
#</IfModule>

# With Apache 2.4 the "Order, Deny" syntax has been deprecated and moved from
# module mod_authz_host to a new module called mod_access_compat (which may be
# disabled) and a new "Require" syntax has been introduced to mod_authz_host.
# We could just conditionally provide both versions, but unfortunately Apache
# does not explicitly tell us its version if the module mod_version is not
# available. In this case, we check for the availability of module
# mod_authz_core (which should be on 2.4 or higher only) as a best guess.
<IfModule mod_version.c>
	<IfVersion < 2.4>
		<Files "config.php">
			Order Allow,Deny
			Deny from All
		</Files>
		<Files "common.php">
			Order Allow,Deny
			Deny from All
		</Files>
	</IfVersion>
	<IfVersion >= 2.4>
		<Files "config.php">
			Require all denied
		</Files>
		<Files "common.php">
			Require all denied
		</Files>
	</IfVersion>
</IfModule>
<IfModule !mod_version.c>
	<IfModule !mod_authz_core.c>
		<Files "config.php">
			Order Allow,Deny
			Deny from All
		</Files>
		<Files "common.php">
			Order Allow,Deny
			Deny from All
		</Files>
	</IfModule>
	<IfModule mod_authz_core.c>
		<Files "config.php">
			Require all denied
		</Files>
		<Files "common.php">
			Require all denied
		</Files>
	</IfModule>
</IfModule>
<IfModule mod_rewrite.c>
RewriteEngine on

Rewriterule ^blog/(.+)/(.+).html$		./blog/view/blog.php?page=$1&mode=$2 [NC]
Rewriterule ^blog/(.+).html$			./blog/blog.php?page=$1 [NC]
Rewriterule ^blog/(.+)/$				./blog/view/blog.php?page=$1 [NC]
Rewriterule ^blog/$						./blog/blog.php [NC]

RewriteCond %{REQUEST_FILENAME} !-f
Rewriterule ^blog/(.+)/(.+)$		./blog/view/blog.php?page=$1&mode=$2 [NC]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^blog/(.+)$ ./blog/blog.php?page=$1 [NC]
</IfModule>

# Block common malicious scrapers and bad bots
<IfModule mod_rewrite.c>
RewriteEngine On

# Block generic scrapers
RewriteCond %{HTTP_USER_AGENT} "curl" [NC,OR]
RewriteCond %{HTTP_USER_AGENT} "wget" [NC,OR]
RewriteCond %{HTTP_USER_AGENT} "python-requests" [NC,OR]
RewriteCond %{HTTP_USER_AGENT} "urllib" [NC,OR]
RewriteCond %{HTTP_USER_AGENT} "libwww-perl" [NC,OR]
RewriteCond %{HTTP_USER_AGENT} "HTTrack" [NC,OR]
RewriteCond %{HTTP_USER_AGENT} "SiteSucker" [NC,OR]
RewriteCond %{HTTP_USER_AGENT} "Scrapy" [NC,OR]
RewriteCond %{HTTP_USER_AGENT} "Go-http-client" [NC,OR]
RewriteCond %{HTTP_USER_AGENT} "Java/" [NC]

RewriteRule .* - [F,L]
</IfModule>

# Block known malicious bots by signature
BrowserMatchNoCase "MJ12bot/v1" bad_bot
BrowserMatchNoCase "EmailCollector" bad_bot
BrowserMatchNoCase "DataForSeoBot" bad_bot
BrowserMatchNoCase "CensysInspect" bad_bot
BrowserMatchNoCase "ZoominfoBot" bad_bot

<IfModule mod_setenvif.c>
SetEnvIf bad_bot 1 BlockAccess
</IfModule>

<IfModule mod_authz_core.c>
<RequireAll>
    Require all granted
    Require not env BlockAccess
</RequireAll>
</IfModule>