<!-- INCLUDE overall_header.html -->

<p class="{S_CONTENT_FLOW_END}<!-- IF S_USER_LOGGED_IN --> rightside<!-- ENDIF -->"><!-- IF S_USER_LOGGED_IN -->{LAST_VISIT_DATE}<!-- ELSE -->{CURRENT_TIME}<!-- ENDIF --></p>
<!-- IF U_MCP --><p>{CURRENT_TIME} <br />[&nbsp;<a href="{U_MCP}">{L_MCP}</a>&nbsp;]</p><!-- ELSEIF S_USER_LOGGED_IN --><p>{CURRENT_TIME}</p><!-- ENDIF -->
<h2>{CAT_TITLE}</h2>
<p>{CAT_DESCRIPTION}</p>

<!-- IF CLASSIC_INDEX -->
	<!-- INCLUDE kb/kb_index_clasic.html -->
<!-- ELSE -->
	<!-- INCLUDE kb/kb_index_modern.html -->
<!-- ENDIF -->

	<div class="topic-actions">

	<!-- IF S_ADD_ARTICLE -->
		<div class="buttons">
			<div class="post-icon"><a href="{U_ADD_ARTICLE}" title="{L_ARTICLE_ADD}"><span></span>{L_ARTICLE_ADD}</a></div>
		</div>
	<!-- ENDIF -->


		<div class="search-box">
			<form method="get" id="forum-search" action="{S_SEARCHBOX_ACTION}">
			<fieldset>
				<input class="inputbox search tiny" type="text" name="q" id="search_keywords" size="20" value="{L_SEARCH_CATEGORIE}" onclick="if (this.value == '{L_SEARCH_CATEGORIE}') this.value = '';" onblur="if (this.value == '') this.value = '{L_SEARCH_CATEGORIE}';" />
				<input class="button2" type="submit" name="submit" value="{L_SEARCH}" />
				<input type="hidden" value="{CATEGORIE_ID}" name="cid[]" />
				<input type="hidden" value="all" name="terms" />
			</fieldset>
			</form>
		</div>

		<div class="pagination">
			{TOTAL_TOPICS} {L_ARTICLE}
			<!-- IF PAGE_NUMBER -->
				<!-- IF PAGINATION --> &bull; <a href="#" onclick="jumpto(); return false;" title="{L_JUMP_TO_PAGE}">{PAGE_NUMBER}</a> &bull; <span>{PAGINATION}</span><!-- ELSE --> &bull; {PAGE_NUMBER}<!-- ENDIF -->
			<!-- ENDIF -->
		</div>
</div>


		<div class="forumbg announcement">
		<div class="inner">
		<ul class="topiclist">
			<li class="header">
				<dl class="icon">
					<dt>{L_TOPICS}</dt>
					<dd class="views">{L_VIEWED}</dd>
					<dd class="lastpost"><span>{L_RELASED}</span></dd>
				</dl>
			</li>
		</ul>
		<ul class="topiclist topics">
		<!-- BEGIN article_row -->
		<li class="row<!-- IF article_row.S_ROW_COUNT is even --> bg1<!-- ELSE --> bg2<!-- ENDIF --><!-- IF article_row.S_ARTICLE_REPORTED --> reported<!-- ENDIF -->">
			<dl class="icon" style="background-image: url({T_IMAGESET_PATH}/{article_row.FOLDER}.gif); background-repeat: no-repeat;">
				<dt><a href="{article_row.U_ARTICLE}" class="topictitle">{article_row.TITLE}</a>
					<!-- IF article_row.S_ARTICLE_UNAPPROVED --><a href="{article_row.U_MCP_QUEUE}">{UNAPPROVED_IMG}</a> <!-- ENDIF -->
					<!-- IF article_row.S_ARTICLE_REPORTED --><a href="{article_row.U_MCP_REPORT}">{REPORTED_IMG}</a><!-- ENDIF --><br />
					<!-- IF article_row.HAS_ATTACHEMENT -->{ATTACH_ICON_IMG} <!-- ENDIF -->{article_row.DESCRIPTION}</dt>
				<dd class="views">{article_row.HITS}</dd>
				<dd class="lastpost">{article_row.TIME}<br />{L_FROM} {article_row.AUTHOR_FULL}</dd>
			</dl>
		</li>
	<!-- END article_row -->

				</ul>
		</div>
	</div>
	<div class="topic-actions">
	<div class="pagination">
		{TOTAL_TOPICS} {L_ARTICLE}
		<!-- IF PAGE_NUMBER -->
			<!-- IF PAGINATION --> &bull; <a href="#" onclick="jumpto(); return false;" title="{L_JUMP_TO_PAGE}">{PAGE_NUMBER}</a> &bull; <span>{PAGINATION}</span><!-- ELSE --> &bull; {PAGE_NUMBER}<!-- ENDIF -->
		<!-- ENDIF -->
	</div>
</div>
<p></p><p><a href="{U_KB}" class="left-box left" accesskey="r">{L_BACK_KB}</a></p>

<br /><br />
<!-- IF S_ADD_ARTICLE -->
<div class="post bg3">
	<div class="inner">
	
	<div style="text-align:center"><b><a href="{U_ADD_ARTICLE}">{L_ARTICLE_ADD}</a></b></div>
	
	</div>
</div>
<br />
<!-- ENDIF -->

<!-- INCLUDE overall_footer.html -->
