<!-- INCLUDE overall_header.html -->
<!-- IF U_MCP -->
	<div id="pageheader">
		<p class="linkmcp">[ <a href="{U_MCP}">{L_MCP}</a> ]</p>
	</div>

	<br clear="all" /><br />
<!-- ENDIF -->
<br />

<table class="tablebg" cellspacing="1" width="100%">
<tr class="row1">
	<td colspan="2" class="cat" align="center"><h4>{TITEL}</h4></td>
</tr>
<tr>
	<td valign="top" class="row1" width="160">
                {L_RELASED}: {ARTICLE_TIME} <br />
                {L_FROM}: {USER}<br />
                <!-- IF LAST_CHANGE -->
                {L_CHANGED_AT}: {LAST_CHANGE} <br />
                {L_FROM}: {CHANGE_USER}<br />
                <!-- ENDIF -->
                <!-- IF TYPE -->
                {L_TYPE}: {TYPE}<br />
                <!-- ENDIF -->
                {L_VIEWED}: {HITS}<br />
                <!-- IF  S_RATING_ACTIV -->
                {L_RATING}: {ARTICLE_POINTS}/5 ({TOTAL_RATINGS} {L_RATINGS})<br />
                <!-- IF OWN_RATING -->
                {L_YOU_RATED}: {OWN_RATING}<br />
                <!-- ENDIF -->
                <!-- ENDIF -->

                <!-- IF S_RATE_ARTICLE and not OWN_RATING and S_RATING_ACTIV -->
                <form id="rate" method="post" action="{S_POST_ACTION}">
                <h3>{L_RATE_ARTICLE}</h3>
                <p><select name="points">
                <option value="5">5 - {L_RATE_GOOD}</option>
                <option value="4">4</option>
                <option value="3">3 - {L_RATE_ACCEPTABLE}</option>
                <option value="2">2</option>
                <option value="1">1 - {L_RATE_BAD}</option>
                </select>
                <input type="submit" name="add_file" value="{L_RATE}" class="button1" />
                </p></form>
                <!-- ENDIF -->

                <!-- IF ADS -->
                <h3>{L_ADS}</h3>
                {ADS}
                <!-- ENDIF -->

	</td>
	<td valign="top" class="row1" style="padding:5px 5px 5px 5px;">
		<div class="gensmall" style="float: right;">
			<!-- IF S_EDIT_ARTICLE --><span class="ls_button"><a href="{U_EDIT_ARTICLE}" title="{L_EDIT_POST}">{L_EDIT}</a></span><!-- ENDIF -->
			<!-- IF S_DELETE_ARTICLE --><a href="{U_DELETE_ARTICLE}" title="{L_DELETE_POST}">{DELETE_IMG}</a><!-- ENDIF -->
			<!-- IF S_ARTICLE_LOG --><a href="{U_ARTICLE_HISTORY}" title="{L_ARTICLE_HISTORY}">{INFO_IMG}</a><!-- ENDIF -->
			<!-- IF S_ARTICLE_REPORT --><a href="{U_REPORT}">{REPORT_IMG}</a> <!-- ENDIF --> 
		</div>
		<br />
		<!-- IF S_POST_REPORTED -->
			<table width="100%" cellspacing="0">
			<tr>
				<td class="gensmall"><span class="postreported">{REPORTED_IMG} <a href="{U_MCP_REPORT}">{L_POST_REPORTED}</a></span></td>
			</tr>
			</table>
			<br clear="all" />
		<!-- ENDIF -->
		<div class="postbody">
			{ARTICLE}
			<!-- IF .attachment -->
				<br clear="all" /><br />

				<table class="tablebg" width="100%" cellspacing="1">
				<tr>
					<td class="row3"><b class="genmed">{L_ATTACHMENTS}: </b></td>
				</tr>
				<!-- BEGIN attachment -->
					<tr>
						<!-- IF attachment.S_ROW_COUNT is even --><td class="row2"><!-- ELSE --><td class="row1"><!-- ENDIF -->{attachment.DISPLAY_ATTACHMENT}</td>
					</tr>
				<!-- END attachment -->
				</table>
			<!-- ENDIF -->
		</div>
    </td>
</tr>
</table>
<br />
<table class="tablebg" cellspacing="1" width="100%">
<tr>
	<td align="center" class="row1" style="padding:5px 5px 5px 5px;"><b><!-- IF S_ADD_ARTICLE --><a href="{U_ADD_ARTICLE}">{L_ARTICLE_ADD}</a>&nbsp; &bull; &nbsp;  <!-- ENDIF --><a href="{U_KB}">{L_BACK_KB}</a></b></td>
</tr>
</table>

<br />
<!-- INCLUDE overall_footer.html -->
