
<script src="{ROOT_PATH}/js/sliderengine/jquery.js"></script>
<script src="{ROOT_PATH}/js/sliderengine/amazingslider.js"></script>
<script src="{ROOT_PATH}/js/sliderengine/initslider-1.js"></script>
    

<div style="margin:0px auto;max-width:100%;">
    
    <!-- Insert to your webpage where you want to display the slider -->
    <div id="amazingslider-1" style="display:block;position:relative;margin:16px auto 56px;">
        <ul class="amazingslider-slides" style="display:none;">
            <li><img src="{ROOT_PATH}/images/slideshow/1_3A_98.jpg" alt="1_3A_98" /></li>
            <li><img src="{ROOT_PATH}/images/slideshow/2_4A_98.jpg" alt="2_4A_98" /></li>
            <li><img src="{ROOT_PATH}/images/slideshow/3_3A_106.jpg" alt="3_3A_106" /></li>
            <li><img src="{ROOT_PATH}/images/slideshow/4_A_106.jpg" alt="4_A_106" /></li>
            <li><img src="{ROOT_PATH}/images/slideshow/5_3A_113.jpg" alt="5_3A_113" /></li>
            <li><img src="{ROOT_PATH}/images/slideshow/6_4A_113.jpg" alt="6_4A_113" /></li>
            <li><img src="{ROOT_PATH}/images/slideshow/7_3A_120.jpg" alt="7_3A_120" /></li>
            <li><img src="{ROOT_PATH}/images/slideshow/8_4A_120.jpg" alt="8_4A_120" /></li>
            <li><img src="{ROOT_PATH}/images/slideshow/9_3A_126.jpg" alt="9_3A_126" /></li>
            <li><img src="{ROOT_PATH}/images/slideshow/10_4A_126.jpg" alt="10_4A_126" /></li>
            <li><img src="{ROOT_PATH}/images/slideshow/11_3A_132.jpg" alt="11_3A_132" /></li>
            <li><img src="{ROOT_PATH}/images/slideshow/12_4A_132.jpg" alt="12_4A_132" /></li>
            <li><img src="{ROOT_PATH}/images/slideshow/13_3A_138.jpg" alt="13_3A_138" /></li>
            <li><img src="{ROOT_PATH}/images/slideshow/14_4A_138.jpg" alt="14_4A_138" /></li>
            <li><img src="{ROOT_PATH}/images/slideshow/15_3A_145.jpg" alt="15_3A_145" /></li>
            <li><img src="{ROOT_PATH}/images/slideshow/16_4A_145.jpg" alt="16_4A_145" /></li>
            <li><img src="{ROOT_PATH}/images/slideshow/17_3A_152.jpg" alt="17_3A_152" /></li>
            <li><img src="{ROOT_PATH}/images/slideshow/18_4A_152.jpg" alt="18_4A_152" /></li>
            <li><img src="{ROOT_PATH}/images/slideshow/19_3A_160.jpg" alt="19_3A_160" /></li>
            <li><img src="{ROOT_PATH}/images/slideshow/20_4A_160.jpg" alt="20_4A_160" /></li>
            <li><img src="{ROOT_PATH}/images/slideshow/21_3A_170.jpg" alt="21_3A_170" /></li>
            <li><img src="{ROOT_PATH}/images/slideshow/22_4A_170.jpg" alt="22_4A_170" /></li>
            <li><img src="{ROOT_PATH}/images/slideshow/23_3A_182.jpg" alt="23_3A_182" /></li>
            <li><img src="{ROOT_PATH}/images/slideshow/24_4A_182.jpg" alt="24_4A_182" /></li>
            <li><img src="{ROOT_PATH}/images/slideshow/25_3A_195.jpg" alt="25_3A_195" /></li>
            <li><img src="{ROOT_PATH}/images/slideshow/26_4A_195.jpg" alt="26_4A_195" /></li>
            <li><img src="{ROOT_PATH}/images/slideshow/27_3A_220.jpg" alt="27_3A_220" /></li>
            <li><img src="{ROOT_PATH}/images/slideshow/28_4A_220.jpg" alt="28_4A_220" /></li>
            <li><img src="{ROOT_PATH}/images/slideshow/29_3A_285.jpg" alt="29_3A_285" /></li>
            <li><img src="{ROOT_PATH}/images/slideshow/30_4A_285.jpg" alt="30_4A_285" /></li>
        </ul>
        <ul class="amazingslider-thumbnails" style="display:none;">
            <li><img src="{ROOT_PATH}/images/slideshow/1_3A_98-tn.jpg" /></li>
            <li><img src="{ROOT_PATH}/images/slideshow/2_4A_98-tn.jpg" /></li>
            <li><img src="{ROOT_PATH}/images/slideshow/3_3A_106-tn.jpg" /></li>
            <li><img src="{ROOT_PATH}/images/slideshow/4_A_106-tn.jpg" /></li>
            <li><img src="{ROOT_PATH}/images/slideshow/5_3A_113-tn.jpg" /></li>
            <li><img src="{ROOT_PATH}/images/slideshow/6_4A_113-tn.jpg" /></li>
            <li><img src="{ROOT_PATH}/images/slideshow/7_3A_120-tn.jpg" /></li>
            <li><img src="{ROOT_PATH}/images/slideshow/8_4A_120-tn.jpg" /></li>
            <li><img src="{ROOT_PATH}/images/slideshow/9_3A_126-tn.jpg" /></li>
            <li><img src="{ROOT_PATH}/images/slideshow/10_4A_126-tn.jpg" /></li>
            <li><img src="{ROOT_PATH}/images/slideshow/11_3A_132-tn.jpg" /></li>
            <li><img src="{ROOT_PATH}/images/slideshow/12_4A_132-tn.jpg" /></li>
            <li><img src="{ROOT_PATH}/images/slideshow/13_3A_138-tn.jpg" /></li>
            <li><img src="{ROOT_PATH}/images/slideshow/14_4A_138-tn.jpg" /></li>
            <li><img src="{ROOT_PATH}/images/slideshow/15_3A_145-tn.jpg" /></li>
            <li><img src="{ROOT_PATH}/images/slideshow/16_4A_145-tn.jpg" /></li>
            <li><img src="{ROOT_PATH}/images/slideshow/17_3A_152-tn.jpg" /></li>
            <li><img src="{ROOT_PATH}/images/slideshow/18_4A_152-tn.jpg" /></li>
            <li><img src="{ROOT_PATH}/images/slideshow/19_3A_160-tn.jpg" /></li>
            <li><img src="{ROOT_PATH}/images/slideshow/20_4A_160-tn.jpg" /></li>
            <li><img src="{ROOT_PATH}/images/slideshow/21_3A_170-tn.jpg" /></li>
            <li><img src="{ROOT_PATH}/images/slideshow/22_4A_170-tn.jpg" /></li>
            <li><img src="{ROOT_PATH}/images/slideshow/23_3A_182-tn.jpg" /></li>
            <li><img src="{ROOT_PATH}/images/slideshow/24_4A_182-tn.jpg" /></li>
            <li><img src="{ROOT_PATH}/images/slideshow/25_3A_195-tn.jpg" /></li>
            <li><img src="{ROOT_PATH}/images/slideshow/26_4A_195-tn.jpg" /></li>
            <li><img src="{ROOT_PATH}/images/slideshow/27_3A_220-tn.jpg" /></li>
            <li><img src="{ROOT_PATH}/images/slideshow/28_4A_220-tn.jpg" /></li>
            <li><img src="{ROOT_PATH}/images/slideshow/29_3A_285-tn.jpg" /></li>
            <li><img src="{ROOT_PATH}/images/slideshow/30_4A_285-tn.jpg" /></li>
        </ul>
    </div>

    
</div>
