<!-- INCLUDE overall_header.html -->
<!-- IF U_MCP -->
	<div id="pageheader">
		<p class="linkmcp">[ <a href="{U_MCP}">{L_MCP}</a> ]</p>
	</div>

	<br clear="all" /><br />
<!-- ENDIF -->
<h2>{KB_TITLE}</h2>
<p>{KB_DESCRIPTION}</p>
<table class="tablebg" cellspacing="1" width="100%">
<tr class="row1">
	<td class="cat" align="center"><h4>{L_SEARCH}</h4></td>
</tr>
<tr>
   <td class="row1" style="padding:5px 5px 5px 5px;">
		<form method="get" action="{U_ACTION}">
		<p align="center"><b>{L_SEARCH_FOR}:</b> <input name="q" id="add_keywords" value="{KEYWORD}" class="inputbox narrow" type="text" />
			<input class="button2" name="submit" value="{L_SEARCH}" type="submit" /><br /><a href="{U_ACTION}" title="{L_SEARCH_ADV_EXPLAIN}">{L_SEARCH_ADV}</a></p>
		</form>
    </td>
</tr>
</table>
<br />

<!-- IF CLASSIC_INDEX -->
	<!-- INCLUDE kb/kb_index_clasic.html -->
<!-- ELSE -->
	<!-- INCLUDE kb/kb_index_modern.html -->
<!-- ENDIF -->



<br />
<h3>{L_STATISTICS}</h3>
<p>{L_ARTICLE_CONT}: <b>{COUNT_ARTICLE}</b> &bull; {L_CATEGORIES}: <b>{CONT_CATS}</b> &bull; {L_ARTICLE_NEWEST}: <b><a href="{U_NEWEST_ARTICLE}">{NEWEST_ARTICLE}</a></b></p>
<br />

<!-- IF S_ACTIVATE_ARTICLE or S_ADD_ARTICLE -->
<table class="tablebg" cellspacing="1" width="100%">
<tr>
   <td align="center" class="row1" style="padding:5px 5px 5px 5px;">
		<b><!-- IF S_ADD_ARTICLE --><a href="{U_ADD_ARTICLE}">{L_ARTICLE_ADD}</a><!-- ENDIF -->
			<!-- IF S_ACTIVATE_ARTICLE -->
			&nbsp; &bull; &nbsp;<a href="{U_MODERATE}">{L_MCP}</a>
			<!-- ENDIF -->
			</b>
    </td>
</tr>
</table>
<!-- ENDIF -->
<br />

<!-- INCLUDE overall_footer.html -->
