<!-- INCLUDE mcp_header.html -->

<h2><a href="{U_VIEW_CAT}">{L_CATEGORIE}: {CAT_NAME}</a></h2>

<form method="post" id="mcp" action="{S_MCP_ACTION}">



<table class="tablebg" width="100%" cellspacing="1">
<tr>
	<th nowrap="nowrap">&nbsp;{L_ARTICLE}&nbsp;</th>
	<th width="8%" nowrap="nowrap">&nbsp;{L_VIEWED}&nbsp;</th>
	<th width="5%" nowrap="nowrap">&nbsp;{L_MARK}&nbsp;</th>
</tr>

		<!-- BEGIN article_row -->
	<tr>
		<td class="row1"><p class="topictitle"><a href="{article_row.U_ARTICLE}">{article_row.TITLE}</a></td>
		<td class="row1" width="120" align="center"><p class="topicdetails">{article_row.HITS}</p></td>
		<td class="row2" align="center"><input type="checkbox" name="article_id_list[]" value="{article_row.ARTICLE_ID}" /></td>
	</tr>


		<!-- END article_row -->

<tr>
<td class="cat" colspan="3" align="right">
	<select name="action">
		<option value="" selected="selected">{L_SELECT_ACTION}</option>
		<!-- IF S_CAN_DELETE --><option value="delete_article">{L_DELETE}</option><!-- ENDIF -->
	</select>
	<input class="button2" type="submit" value="{L_SUBMIT}" /></td>
</tr>
</table>
{S_FORM_TOKEN}
</form>

<!-- IF not S_MERGE_SELECT -->
<table width="100%" cellspacing="2" cellpadding="2" border="0" align="center">
<tr>
	<td align="{S_CONTENT_FLOW_END}" valign="top" nowrap="nowrap"><b class="gensmall"><a href="#" onclick="marklist('mcp', 'article_id_list', true); return false;">{L_MARK_ALL}</a> :: <a href="#" onclick="marklist('mcp', 'article_id_list', false); return false;">{L_UNMARK_ALL}</a></b></td>
</tr>
</table>
<!-- ENDIF -->

<!-- INCLUDE mcp_footer.html -->
