<!-- INCLUDE mcp_header.html -->
<form id="mcp" method="post" action="{S_MCP_ACTION}">
{TOTAL_REPORTS}<!-- IF PAGE_NUMBER --><!-- IF PAGINATION --> &bull; <a href="#" onclick="jumpto(); return false;" title="{L_JUMP_TO_PAGE}">{PAGE_NUMBER}</a> &bull; <span>{PAGINATION}</span><!-- ELSE --> &bull; {PAGE_NUMBER}<!-- ENDIF --><!-- ENDIF -->
<table width="100%" class="tablebg" cellspacing="1" cellpadding="4" border="0">
<tr>
	<td class="row3" align="center" colspan="3"><b class="gen">{L_MCP_REPORT_TITLE}</b></td>
</tr> 
<tr> 
	<th>&nbsp;{L_VIEW_DETAILS}&nbsp;</th>
	<th>&nbsp;{L_REPORTER} &amp; {L_CATEGORIE}&nbsp;</th>
	<th width="5%">&nbsp;{L_MARK}&nbsp;</th>
</tr>
<!-- BEGIN postrow -->

	<!-- IF postrow.S_ROW_ is even --><tr class="row1"><!-- ELSE --><tr class="row2"><!-- ENDIF -->
		<td style="padding: 4px;"><p class="topictitle"><a href="{postrow.U_VIEW_DETAILS}">{postrow.ARTICLE_TITLE}</a></p><span class="gensmall">{L_POSTED} {L_POST_BY_AUTHOR} {postrow.POST_AUTHOR_FULL} {L_POSTED_ON_DATE}  {postrow.POST_TIME}</span></td>
		<td style="padding: 4px;" align="{S_CONTENT_FLOW_BEGIN}" valign="top" nowrap="nowrap">{postrow.REPORT_AUTHOR_FULL} {L_REPORTED_ON_DATE} {postrow.REPORT_TIME}<br />
						{L_CATEGORIE}: <a href="{postrow.U_CATEGORIE}">{postrow.CATEGORIE_NAME}</a></td>
		<td style="padding: 4px;" align="{S_CONTENT_FLOW_BEGIN}" valign="top" nowrap="nowrap"><span class="gen"><input type="checkbox" name="report_id_list[]" value="{postrow.REPORT_ID}" /></span></td>
	</tr>
<!-- BEGINELSE -->
	<tr>
		<td class="row1" colspan="5" height="30" align="center" valign="middle"><span class="gen">{L_NO_REPORTS}</span></td>
	</tr>
<!-- END postrow -->

<tr>
	<td class="cat" colspan="5" align="center">
		<input class="button2" type="submit" value="{L_DELETE_REPORTS}" name="action[delete]" />
		<!-- IF LIST_NEW -->&nbsp;<input class="button1" type="submit" name="action[close]" value="{L_CLOSE_REPORTS}" /><!-- ENDIF -->
	</td>
</tr>
</table>
{S_FORM_TOKEN}
</form>

<table width="100%" cellspacing="2" cellpadding="2" border="0" align="center">
<tr>
	<td align="{S_CONTENT_FLOW_END}" valign="top" nowrap="nowrap"><b class="gensmall"><a href="#" onclick="marklist('mcp', '', true); return false;">{L_MARK_ALL}</a> :: <a href="#" onclick="marklist('mcp', '', false); return false;">{L_UNMARK_ALL}</a></b></td>
</tr>
</table>
<a href="{U_LIST_REPORTS}">{LIST_REPORTS}</a>
</form>
<br />
<!-- INCLUDE mcp_footer.html -->