<!-- INCLUDE mcp_header.html -->

<!-- IF S_MCP_REPORT -->
	<h2>{L_REPORT_DETAILS}</h2>

	<div id="report" class="panel">
		<div class="inner">

		<div class="postbody">
			<h3>{L_REPORT_REASON}: {REPORT_REASON_TITLE}</h3>
			<p class="author">{L_REPORTED} {L_POST_BY_AUTHOR} {REPORTER_FULL} {L_REPORTED_ON_DATE}  {REPORT_DATE}</p>
		<!-- IF not S_POST_REPORTED -->
			<p class="rules">{L_REPORT_CLOSED}</p>
		<!-- ENDIF -->
			<div class="content">
			<!-- IF REPORT_TEXT -->
				{REPORT_TEXT}
			<!-- ELSE -->
				{REPORT_REASON_DESCRIPTION}
			<!-- ENDIF -->
			</div>
		</div>

		</div>
	</div>

	<form method="post" id="mcp_report" action="{S_CLOSE_ACTION}">

	<fieldset class="submit-buttons">
		<!-- IF S_POST_REPORTED -->
			<input class="button1" type="submit" value="{L_CLOSE_REPORT}" name="action[close]" /> &nbsp;
		<!-- ENDIF -->
		<input class="button2" type="submit" value="{L_DELETE_REPORT}" name="action[delete]" />
		<input type="hidden" name="report_id_list[]" value="{REPORT_ID}" />
		{S_FORM_TOKEN}
	</fieldset>
	</form>

<!-- ELSE -->
	<h2>{L_ARTICLE_DETAIL}</h2>
<!-- ENDIF -->

<div class="panel">
	<div class="inner">

	<div class="postbody">
		<!-- IF U_EDIT -->
		<ul class="profile-icons">
			<li class="edit-icon"><a href="{U_EDIT}" title="{L_EDIT_POST}">{L_EDIT_POST}</a></li>
		</ul>
		<!-- ENDIF -->

		<h3>{POST_SUBJECT}</h3>
		<p class="author">{MINI_POST_IMG} {L_POSTED} {L_POST_BY_AUTHOR} {POST_AUTHOR_FULL} {L_POSTED_ON_DATE}  {POST_DATE}</p>

		<!-- IF S_POST_UNAPPROVED -->
			<form method="post" id="mcp_approve" action="{U_APPROVE_ACTION}">

			<p class="rules">
				<input class="button1" type="submit" value="{L_APPROVE}" name="action[approve]" /> &nbsp; 
				<input class="button2" type="submit" value="{L_DISAPPROVE}" name="action[disapprove]" />
				<input type="hidden" name="article_id_list[]" value="{ARTICLE_ID}" />
				{S_FORM_TOKEN}
			</p>
			</form>
		<!-- ENDIF -->

		<!-- IF S_MESSAGE_REPORTED -->
			<p class="rules">
				{REPORTED_IMG} <a href="{U_MCP_REPORT}"><strong>{L_MESSAGE_REPORTED}</strong></a>
			</p>
		<!-- ENDIF -->
		
		<div class="content">
			{POST_PREVIEW}
		</div>

		<!-- IF .attachment -->
			<dl class="attachbox">
				<dt>{L_ATTACHMENTS}</dt>
				<!-- BEGIN attachment -->
					<dd>{attachment.DISPLAY_ATTACHMENT}</dd>
				<!-- END attachment -->
			</dl>
		<!-- ENDIF -->
	</div><br /><hr />	<a href="{U_ARTICLE}">{L_SHOW_ARTICLE}</a>
	</div>
</div>

<!-- IF S_CH_POSTER -->
<div class="panel">
	<div class="inner">
	<h3>{L_MOD_OPTIONS}</h3>
		<form method="post" id="mcp_chgposter" action="{U_POST_ACTION}">
		<fieldset>
		<dl>
			<dt><label>{L_CHANGE_POSTER}:</label></dt>
			<dd style="margin-top:3px;">
				<input class="inputbox autowidth" type="text" name="username" value="" />
				<input type="submit" class="button2" name="action[chgposter]" value="{L_CONFIRM}" />
				<br />
				<span>[ <a href="{U_FIND_USERNAME}" onclick="find_username(this.href); return false;">{L_FIND_USERNAME}</a> ]</span>
			</dd>
		</dl>
		{S_FORM_TOKEN}
		</fieldset>
		</form>
	</div>
</div>
<!-- ENDIF -->

<!-- IF S_SHOW_EDITS -->

<a name="log"></a>
<div class="panel">
	<div class="inner">
	<form method="post" action="{U_ACTION}">
	<table class="table1" cellspacing="1">
	<thead>
	<tr>
		<th class="name">{L_LOG_TITEL}</th>
		<!-- IF S_DELETE_LOG --><th class="posts">{L_MARK}</th><!-- ENDIF -->
	</tr>
	</thead>
	<tbody>
	<!-- BEGIN log -->
	<tr class="<!-- IF log.S_ROW_COUNT is odd -->bg1<!-- ELSE -->bg2<!-- ENDIF -->">
		<td>{L_CHANGED_AT} : {log.CHANGE_TIME} {L_FROM} {log.USER} {log.CHANGE_REASON}</td>
		<!-- IF S_DELETE_LOG --><td class="posts"><input type="checkbox" class="radio" name="mark[]" value="{log.ID}" /></td><!-- ENDIF -->
	</tr>
	<!-- BEGINELSE -->
		<tr>
			<td colspan="2">{L_NO_MATCHES_FOUND}</td>
		</tr>
	<!-- END log -->
	</tbody>
	</table>
	<!-- IF S_DELETE_LOG -->
		<fieldset class="submit-buttons">
			<input class="button2" type="submit" name="delall" value="{L_DELETE_ALL}" />&nbsp;
			<input class="button2" type="submit" name="delmarked" value="{L_DELETE_MARKED}" /><br />
		</fieldset>
	<!-- ENDIF -->
	</form>
	</div>
</div>
<!-- ENDIF -->

<!-- INCLUDE mcp_footer.html -->
