<!-- INCLUDE overall_header.html -->




<p class="{S_CONTENT_FLOW_END}<!-- IF S_USER_LOGGED_IN --> rightside<!-- ENDIF -->"><!-- IF S_USER_LOGGED_IN -->{LAST_VISIT_DATE}<!-- ELSE -->{CURRENT_TIME}<!-- ENDIF --></p>
<!-- IF U_MCP --><p>{CURRENT_TIME} <br />[&nbsp;<a href="{U_MCP}">{L_MCP}</a>&nbsp;]</p><!-- ELSEIF S_USER_LOGGED_IN --><p>{CURRENT_TIME}</p><!-- ENDIF -->
<h2>{TITEL}</h2>
<p>{DESCRIPTION}</p>


<script type="text/javascript">
<!--
	var panels = new Array('article-panel', 'diff-panel');
	var show_panel = 'article-panel';
//-->
</script>



<!-- IF .diff_row -->
<div id="tabs">
	<ul>
	
		<li class="activetab" id="article-panel-tab"><a href="#tabs" onclick="subPanels('article-panel'); return false;"><span>
		{L_ARTICLE}</span></a></li>
		<!-- IF .diff_row --><li class="" id="diff-panel-tab"><a href="#tabs" onclick="subPanels('diff-panel'); return false;"><span>
		{L_OLD_VERSIONS}</span></a></li><!-- ENDIF -->

	</ul>
</div>
<!-- ENDIF -->
<!-- IF .diff_row -->
<div class="panel bg3" id="diff-panel" style="display: none;">
	<div class="inner"><span class="corners-top"><span></span></span>
	<!-- IF DIFF_MESSAGE -->
		<h3>{DIFFERENCE}</h3>
		<a name="diff"></a>
		<div class="diff_codepanel">{DIFF_MESSAGE}</div>
		<hr />
	<!-- ENDIF -->
	<table class="table1" cellspacing="1">
	<thead>
	<tr>
		<th class="name" style="color:#000;">{L_TIME}</th>
		<th class="name" style="color:#000;">{L_USER}</th>
		<th class="name" style="color:#000;">{L_EDIT_REASON}</th>
		<!-- IF S_DELETE_DIFF or S_RESTORE_ARTICLE --><th class="name" style="width:15%">{L_ACTION}</th><!-- ENDIF -->
	</tr>
	</thead>
	<tbody>
	<!-- BEGIN diff_row -->
	<tr class="bg1">
		<td><strong><a href="{diff_row.U_DIFF}">{L_CHANGED_AT} {diff_row.TIME}</a></strong></td>
		<td>{diff_row.USER}</td>
		<td>{diff_row.EDIT_REASON}</td>
		<!-- IF S_DELETE_DIFF or S_RESTORE_ARTICLE --><td><!-- IF S_DELETE_DIFF -->[<a href="{diff_row.U_DELETE}">{L_DELETE}</a>]<!-- ENDIF --><!-- IF S_RESTORE_ARTICLE --> &nbsp; [<a href="{diff_row.U_RESTORE}">{L_RESTORE}</a>]<!-- ENDIF --></td><!-- ENDIF -->
	</tr>
	<!-- END diff_row -->
	</tbody>
	</table>
	<span class="corners-bottom"><span></span></span></div>
</div>
<!-- ENDIF -->


<div style="display: block;" class="panel post bg2<!-- IF S_POST_REPORTED --> reported<!-- ENDIF -->" id="article-panel">
	<div class="inner"><span class="corners-top"><span></span></span>
		<div class="postbody">
		<!-- IF S_DELETE_ARTICLE or S_EDIT_ARTICLE or S_ARTICLE_LOG or S_ARTICLE_REPORT -->

		<ul class="profile-icons">
			<!-- IF S_EDIT_ARTICLE --><li class="edit-icon"><a href="{U_EDIT_ARTICLE}" title="{L_EDIT_POST}">{L_EDIT_POST}</a></li><!-- ENDIF -->
			<!-- IF S_DELETE_ARTICLE --><li class="delete-icon"><a href="{U_DELETE_ARTICLE}" title="{L_DELETE_POST}"><span>{L_DELETE_POST}</span></a></li><!-- ENDIF -->
			<!-- IF S_ARTICLE_LOG --><li class="info-icon"><a href="{U_ARTICLE_HISTORY}" title="{L_ARTICLE_HISTORY}"><span>{L_ARTICLE_HISTORY}</span></a></li><!-- ENDIF -->
			<!-- IF S_ARTICLE_REPORT --><li class="report-icon"><a href="{U_REPORT}" title="{L_REPORT_POST}"><span>{L_REPORT_POST}</span></a></li><!-- ENDIF -->
		</ul>
		<!-- ENDIF -->
		<br />

		<!-- IF S_POST_REPORTED or S_POST_UNAPPROVED -->
			<br /><p class="rules">
				<!-- IF S_POST_REPORTED -->{REPORTED_IMG} <a href="{U_MCP_REPORT}"><strong>{L_POST_REPORTED}</strong></a><!-- ENDIF -->
				<!-- IF S_POST_UNAPPROVED -->{UNAPPROVED_IMG} <a href="{U_MCP_APPROVE}"><strong>{L_POST_UNAPPROVED}</strong></a><!-- ENDIF -->
			</p>
		<!-- ENDIF -->
		<div class="content">{ARTICLE}</div>
		<!-- IF .attachment -->
			<dl class="attachbox">
				<dt>{L_ATTACHMENTS}</dt>
				<!-- BEGIN attachment -->
					<dd>{attachment.DISPLAY_ATTACHMENT}</dd>
				<!-- END attachment -->
			</dl>
		<!-- ENDIF -->
		<!-- IF S_DISPLAY_NOTICE --><div class="rules">{L_DOWNLOAD_NOTICE}</div><!-- ENDIF -->
		</div>
		<div id="smiley-box" style="padding-right:20px;">
		<strong>{L_RELASED}:</strong> {ARTICLE_TIME} <br />
		{L_FROM}: {USER}<br />
		<!-- IF LAST_CHANGE -->
		<strong>{L_CHANGED_AT}:</strong> {LAST_CHANGE} <br />
		<strong>{L_FROM}:</strong> {CHANGE_USER}<br />
		<!-- ENDIF -->
		<!-- IF TYPE -->
		<strong>{L_TYPE}:</strong> {TYPE}<br />
		<!-- ENDIF -->
		<strong>{L_VIEWED}:</strong> {HITS}<br />
		<!-- IF  S_RATING_ACTIV -->
		<strong>{L_RATING}:</strong> {ARTICLE_POINTS}/5 ({TOTAL_RATINGS} {L_RATINGS})<br />
		<!-- IF OWN_RATING -->
		<strong>{L_YOU_RATED}:</strong> {OWN_RATING}<br />
		<!-- ENDIF -->
		<!-- ENDIF -->

		<!-- IF POST_URI -->
		<br />[ <a href="{POST_URI}">{L_VIEW_TOPIC}</a> ]<br />
		<!-- ENDIF -->

		<!-- IF S_RATE_ARTICLE and not OWN_RATING and S_RATING_ACTIV -->
		<form id="rate" method="post" action="{S_POST_ACTION}">
		<h3>{L_RATE_ARTICLE}</h3>
		<p><select name="points">
		<option value="5">5 - {L_RATE_GOOD}</option>
		<option value="4">4</option>
		<option value="3">3 - {L_RATE_ACCEPTABLE}</option>
		<option value="2">2</option>
		<option value="1">1 - {L_RATE_BAD}</option>
		</select>
		<input type="submit" name="add_file" value="{L_RATE}" class="button1" />
		</p></form>
		<!-- ENDIF -->

		<!-- IF ADS -->
		<h3>{L_ADS}</h3>
		{ADS}
		<!-- ENDIF -->
		<br />
		</div>
		<span class="corners-bottom"><span></span></span>
	</div>
</div>

<!-- IF .similar -->
<br />
<h3>{L_SIMILAR_ARTICLES}</h3>
<div class="post bg1">
	<div class="inner">
		<span class="corners-top"><span></span></span>
			<table width="100%">
			<tr>
				<!-- BEGIN similar -->
				<td valign="top"><a href="{similar.U_TOPIC}" class="topictitle">{similar.TOPIC_TITLE}</a><br />
					{L_CATEGORIE}: <a href="{similar.U_CATEGORIE}">{similar.CATEGORIE}</a><br />
					{L_AUTHOR}: {similar.USER}<br />
				</td>
				<!-- END similar -->
			</tr>
			</table>
		<span class="corners-bottom"><span></span></span>
	</div>
</div>
<br />
<!-- ENDIF -->

<p></p><p><a href="{U_CATEGORIE}" class="left-box left" accesskey="r">{L_RETURN_TO} {CAT_TITEL}</a></p>

<!-- IF S_ADD_ARTICLE -->
<br /><br />
<div class="post bg3">
	<div class="inner">
	<span class="corners-top"><span></span></span>
	<div style="text-align:center"><b><a href="{U_ADD_ARTICLE}">{L_ARTICLE_ADD}</a></b></div>
	<span class="corners-bottom"><span></span></span>
	</div>
</div>
<!-- ENDIF -->
<script type="text/javascript">
// <![CDATA[
var url= window.location.href;
var id = url.split("#");
if(id[1])
{
	subPanels(id[1]+'-panel');
}
else
{
	var show_panel = 'article-panel';
}
Start();
// ]]>
</script>

<br />
<!-- INCLUDE overall_footer.html -->
