<form action="{S_FORM_ACTION}" method="post" id="filter_meetings">

<table cellspacing="1" class="table1" width="100%">
<tr>
	<td style="width: 25%;">&nbsp;</td>
	<td style="width: 5%; text-align: center;"><strong><a href="{U_LAST_YEAR}" style="font-size: 20pt;">&laquo;</a></strong></td>
	<td style="width: 5%; text-align: center;"><strong><a href="{U_LAST_MONTH}" style="font-size: 20pt;">&lsaquo;</a></strong></td>
	<td style="width: 30%; text-align: center;">{S_CAL_MONTH}&nbsp;{S_CAL_YEAR}&nbsp;<input type="submit" value="{L_UPDATE}" class="button2" /></td>
	<td style="width: 5%; text-align: center;"><strong><a href="{U_NEXT_MONTH}" style="font-size: 20pt;">&rsaquo;</a></strong></td>
	<td style="width: 5%; text-align: center;"><strong><a href="{U_NEXT_YEAR}" style="font-size: 20pt;">&raquo;</a></strong></td>
	<td style="width: 25%;">&nbsp;</td>
</tr>
</table>

</form>

<table cellspacing="1" class="tablebg" width="100%">
<thead>
<tr>
	<!-- BEGIN cal_title -->
	<td class="row3" style="text-align: center; padding: 5px;"><strong>{cal_title.MEETING_DAY_TITLE}</strong></td>
	<!-- END cal_title -->
</tr>
</thead>
<tbody>
<!-- BEGIN cal_weeks -->
<tr>
	<!-- BEGIN cal_day_title -->
	<td class="row{cal_weeks.cal_day_title.C_CAL_DAY_TITLE}" style="width: 14%; vertical-align: top;">
		<strong>{cal_weeks.cal_day_title.CAL_DAY_TITLE}</strong><br />
		<!-- BEGIN cal_day -->
		<!-- IF cal_weeks.cal_day_title.cal_day.U_CAL_DAY -->
		<a href="{cal_weeks.cal_day_title.cal_day.U_CAL_DAY}" style="display: block; padding: 3px; background-color: #<!-- IF cal_weeks.cal_day_title.cal_day.C_CAL_DAY == 't' -->ff9999<!-- ELSE -->99ff99<!-- ENDIF -->;">{cal_weeks.cal_day_title.cal_day.CAL_DAY}</a><br />
		<!-- ENDIF -->
		<!-- IF cal_weeks.cal_day_title.cal_day.S_CAL_DAY -->
		{cal_weeks.cal_day_title.cal_day.CAL_DAY}
		<!-- ENDIF -->
		<!-- END cal_day -->
	</td>
	<!-- END cal_day_title -->
</tr>
<!-- END call_weeks -->
</tbody>
</table>

<br />

<h3>{L_LEGEND}:</h3>
<div style="width: 20%; padding: 3px; background-color: #ff9999;"><label>{L_MEETING_TIME}</label></div>
<div style="width: 20%; padding: 3px; background-color: #99ff99;"><label>{L_MEETING_UNTIL}</label></div>
