<form action="{S_FORM_ACTION}" method="post" name="filter_meetings">

<table cellspacing="1" class="table1" width="100%">
<tbody>
<tr>
	<td><b class="genmed">{L_MEETING_SORT}:</b></td>
	<td>{SORT_BY_FIELD}</td>
</tr>
<tr>
	<td><b class="genmed">{L_MEETING_ORDER}:</b></td>
	<td>{SORT_BY_ORDER}</td>
</tr>
<tr>
	<td><b class="genmed">{L_MEETING_FILTER}:</b></td>
	<td>{FILTER_BY_FIELD}&nbsp;&raquo;&nbsp;<input type="text" name="filter" value="{FILTER_FIELD}" class="post" size="20" maxlength="50" /></td>
</tr>
<tr>
	<td><b class="genmed">{L_MEETING_CLOSE_STATUS}:</b></td>
	<td><label><input type="radio" class="radio" name="closed" value="1" {CLOSED_NO} /> {L_MEETING_OPEN}</label>
		<label><input type="radio" class="radio" name="closed" value="2" {CLOSED_YES} /> {L_MEETING_CLOSED}</label><br />
		<label><input type="radio" class="radio" name="closed" value="3" {CLOSED_PERIOD} /> {L_MEETING_NO_PERIOD}</label><br />
		<label><input type="radio" class="radio" name="closed" value="4" {CLOSED_NONE} /> {L_MEETING_ALL}</label>
	</td>
</tr>
<tr>
	<td><b class="genmed">{L_MEETING_SIGNONS}:</b></td>
	<td><input type="checkbox" class="checkbox" name="meeting_signon" value="1" {S_MEETING_SIGNON} /></td>
</tr>
<!-- IF S_CHECK_APPROVE -->
<tr>
	<td><b class="genmed" style="color: #FF0000">{L_MEETING_UNAPPROVED_COMMENTS}:</b></td>
	<td><input type="checkbox" class="checkbox" name="meeting_approve" value="1" {S_MEETING_APPROVE} /></td>
</tr>
<!-- ENDIF -->
</tbody>
</table>

<br /><p align="right"><input type="submit" name="submit_filter" class="btnmain" value="{L_SELECT}" /></p>

</form>

<br />

<table cellspacing="1" class="table1" width="100%">
<thead>
<tr>
	<th>{L_MEETING_SUBJECT}</th>
	<th>{L_MEETING_TIME}</th>
	<th>{L_MEETING_UNTIL}</th>
	<th>{L_MEETING_LOCATION}</th>
	<th>{L_MEETING_CLOSED}</th>
	<th>{L_REPLIES}</th>
	<th>{L_OPTIONS}</th>
</tr>
</thead>
<tbody>
<!-- BEGIN meeting_row -->
<tr class="row<!-- IF meeting_row.S_ROW_COUNT is even -->2<!-- ELSE -->3<!-- ENDIF -->">
	<td><!-- IF S_M_CAN_VIEW --><a href="{meeting_row.U_MEETING_DETAIL}"><!-- ENDIF -->{meeting_row.MEETING_SUBJECT}<!-- IF S_M_CAN_VIEW --></a><!-- ENDIF --></td>
	<td>{meeting_row.MEETING_TIME}</td>
	<td>{meeting_row.MEETING_UNTIL}</td>
	<td>{meeting_row.MEETING_LOCATION}</td>
	<td><span class="small">{meeting_row.MEETING_CLOSED}</span></td>
	<td>{meeting_row.MEETING_USERS}</td>
	<td>
		<!-- IF meeting_row.S_MEETING_EDIT --><a href="{meeting_row.MEETING_EDIT}">{L_MEETING_EDIT}</a><!-- ENDIF -->
		<!-- IF meeting_row.S_MEETING_EDIT and meeting_row.S_MEETING_DELETE -->&nbsp;|&nbsp;<!-- ENDIF -->
		<!-- IF meeting_row.S_MEETING_DELETE --><a href="{meeting_row.MEETING_DELETE}">{L_DELETE}</a><!-- ENDIF -->
	</td>
</tr>
<!-- END meeting_row -->
<!-- IF S_NO_MEETING -->
<tr class="row1">
	<td colspan="7">{L_NO_MEETING}</td>
</tr>
<!-- ENDIF -->
</tbody>
</table>

<!-- IF PAGINATION --><div align="right">{PAGINATION}</div><!-- ENDIF -->