<!-- INCLUDE mcp_header.html -->

<!-- IF S_SHOW_UNAPPROVED -->
	<section class="ucp-card">
		<div class="ucp-card-header">
			<h3 class="ucp-card-title">{L_LATEST_UNAPPROVED}</h3>
		</div>
		<div class="ucp-card-body">
			<!-- IF .article_row -->
			<div class="forum-list">
			<!-- BEGIN article_row -->
				<article class="forum-row mcp-list-row<!-- IF article_row.S_ROW_COUNT is odd --> bg1<!-- ELSE --> bg2<!-- ENDIF -->">
					<div class="forum-details">
						<a href="{article_row.U_SHOW}" class="forum-title">{article_row.TITLE}</a>
						<p>{article_row.DESCRIPTION}</p>
					</div>
					<div class="forum-stats-grid mcp-list-stats">
						<div class="stat-info">{article_row.CAT}</div>
					</div>
				</article>
			<!-- END article_row -->
			</div>
			<!-- ELSE -->
			<p>{L_UNAPPROVED_POSTS_ZERO_TOTAL}</p>
			<!-- ENDIF -->
		</div>
	</section>
<!-- ENDIF -->

<!-- IF S_SHOW_REPORTS -->
	<section class="ucp-card">
		<div class="ucp-card-header">
			<h3 class="ucp-card-title">{L_LATEST_REPORTED}</h3>
		</div>
		<div class="ucp-card-body">
			<!-- IF .postrow -->
			<header class="forum-header mcp-list-header">
				<div class="forum-title">{L_VIEW_DETAILS}</div>
				<div class="forum-stats-header info">{L_REPORTER} &amp; {L_FORUM}</div>
			</header>
			<div class="forum-list">
			<!-- BEGIN postrow -->
				<article class="forum-row mcp-list-row<!-- IF postrow.S_ROW_COUNT is odd --> bg1<!-- ELSE --> bg2<!-- ENDIF -->">
					<div class="forum-details">
						<a href="{postrow.U_VIEW_DETAILS}" class="forum-title">{postrow.ARTICLE_TITLE}</a>
						<p>{L_POSTED} {L_POST_BY_AUTHOR} {postrow.POST_AUTHOR_FULL} {L_POSTED_ON_DATE} {postrow.POST_TIME}</p>
					</div>
					<div class="forum-stats-grid mcp-list-stats">
						<div class="stat-info">{postrow.REPORT_AUTHOR_FULL} {L_REPORTED_ON_DATE} {postrow.REPORT_TIME}<br />
						{L_CATEGORIE}: <a href="{postrow.U_CATEGORIE}">{postrow.CATEGORIE_NAME}</a></div>
					</div>
				</article>
			<!-- END postrow -->
			</div>
			<!-- ELSE -->
			<p>{L_REPORTS_ZERO_TOTAL}</p>
			<!-- ENDIF -->
		</div>
	</section>
<!-- ENDIF -->

<!-- IF S_SHOW_LOGS -->
	<section class="ucp-card">
		<div class="ucp-card-header">
			<h3 class="ucp-card-title">{L_LATEST_LOGS}</h3>
		</div>
		<div class="ucp-card-body">
			<!-- BEGIN log -->
			<p class="<!-- IF log.S_ROW_COUNT is odd -->bg1<!-- ELSE -->bg2<!-- ENDIF -->">{L_CHANGED_AT} : {log.CHANGE_TIME} {L_FROM} {log.USER} {log.CHANGE_REASON} | <a href="{log.U_ARTICLE}">{log.ARTICLE}</a></p>
			<!-- BEGINELSE -->
			<p>{L_NO_MATCHES_FOUND}</p>
			<!-- END log -->
		</div>
	</section>
<!-- ENDIF -->

<!-- INCLUDE mcp_footer.html -->