<!-- INCLUDE overall_header.html -->

<h3><a href="{U_MEETING_DETAIL}">{L_MEETING_DETAIL}</a></h3>
<p><strong>{MEETING_SUBJECT} :: {L_MEETING_MAIL}</strong></p>

<br />

<form action="{S_FORM_ACTION}" method="post" name="meeting_send_email">

<table width="100%" cellpadding="0" cellspacing="1" class="table1">
<tr>
	<td class="row1"><b class="genmed">{L_MEETING_MAIL_TO}:</b></td>
	<td class="row2"><input type="radio" class="radio" name="mail_to" value="1" checked="checked" />{L_MEETING_MAIL_SIGN_YES}&nbsp;
		<input type="radio" class="radio" name="mail_to" value="2" />{L_MEETING_MAIL_SIGN_NO}&nbsp;
		<input type="radio" class="radio" name="mail_to" value="0" />{L_MEETING_MAIL_ALL}
	</td>
</tr>
<tr>
	<td class="row1"><b class="genmed">{L_MEETING_MAIL_SUBJECT}:</b></td>
	<td class="row2"><input type="text" class="post" size="75" maxlength="100" value="" name="meeting_mail_subject" /></td>
</tr>
<tr>
	<td class="row1" valign="top"><b class="genmed">{L_MEETING_MAIL_TEXT}:</b></td>
	<td class="row2"><textarea cols="100" rows="10" class="post" name="meeting_mail_text"></textarea></td>
</tr>
</table>

<br /><p align="center">
	<input type="submit" name="submit" value="{L_SUBMIT}" class="btnmain" />&nbsp;<input type="submit" name="cancel" value="{L_CANCEL}" class="btnlite" />
	{S_FORM_TOKEN}
</p>

</form>

<br />

<!-- INCLUDE overall_footer.html -->