<!-- IF S_IN_GALLERY_POPUP -->
	<!-- INCLUDE simple_header.html -->

	<nav class="dl-nav gallery-popup-nav" aria-label="{L_OPTIONS}">
		<a href="{U_POPUP_OWN}">{L_OWN_IMAGES}</a>
		<a href="{U_POPUP_RECENT}">{L_RECENT_IMAGES}</a>
		<!-- IF U_POPUP_UPLOAD --><a href="{U_POPUP_UPLOAD}">{L_UPLOAD_IMAGE}</a><!-- ENDIF -->
	</nav>
<!-- ELSE -->
	<!-- INCLUDE overall_header.html -->

	<!-- IF GALLERY_VERSION_CHECK and U_ACP -->
	<section class="ucp-card rules">
		<div class="ucp-card-body">
			<strong>{L_INFORMATION}:</strong> {GALLERY_VERSION_CHECK}<!-- IF U_MVC_IGNORE --> [ <a href="{U_MVC_IGNORE}">{L_IGNORE_NOTUPTODATE_MESSAGE}</a> ]<!-- ENDIF -->
		</div>
	</section>
	<!-- ENDIF -->
<!-- ENDIF -->