<!-- INCLUDE overall_header.html -->
<!-- $Id: points_info.html 587 2009-10-14 18:36:12Z Wuerzi $ -->

<table width="100%" cellspacing="0" cellpadding="0" border="0">
	<tr>
		<td width="20%" valign="top">

			<table class="tablebg" width="100%" cellspacing="1">
				<tr>
					<th>{L_POINTS_OPTIONS}</th>
				</tr>
				<tr class="row1">
					<td><a href="{U_POINTS}">{L_POINTS_OVERVIEW}</a></td>
				</tr>
				<tr class="row1">
					<td><a href="{U_INFO}"><b>{L_POINTS_INFO}</b></a></td>
				</tr>
				<!-- IF TRANSFER_ENABLE and U_USE_TRANSFER -->
				<tr class="row1">
					<td><a href="{U_TRANSFER_USER}">{L_POINTS_TRANSFER}</a></td>
				</tr>
				<!-- ENDIF -->
				<!-- IF LOGS_ENABLE and U_USE_LOGS -->
				<tr class="row1">
					<td><a href="{U_LOGS}">{L_POINTS_LOGS}</a></td>
				</tr>
				<!-- ENDIF -->
				<!-- IF LOTTERY_ENABLE and U_USE_LOTTERY -->
				<tr class="row1">
					<td><a href="{U_LOTTERY}">{LOTTERY_NAME}</a></td>
				</tr>
				<!-- ENDIF -->
				<!-- IF BANK_ENABLE and U_USE_BANK -->
				<tr class="row1">
					<td><a href="{U_BANK}">{BANK_NAME}</a></td>
				</tr>
				<!-- ENDIF -->
				<!-- IF ROBBERY_ENABLE and U_USE_ROBBERY -->
				<tr class="row1">
					<td><a href="{U_ROBBERY}">{L_POINTS_ROBBERY}</a></td>
				</tr>
				<!-- ENDIF -->
			</table>

			<br clear="all" />

			<table class="tablebg" width="100%" cellspacing="1">
				<tr>
					<th>{L_POINTS_DESCRIPTION}</th>
				</tr>
				<tr class="row1">
					<td>{POINTS_INFO_DESCRIPTION}</td>
				</tr>
			</table>

		</td>
		<td width="80%" valign="top">

			<table class="tablebg" width="100%" border="0" cellpadding="0" cellspacing="0">
				<tr>
					<th>{L_INFO_GENERAL_INFORMATIONS}</th>
				</tr>
			</table>

			<table class="tablebg" width="100%" cellspacing="1">
				<!-- IF S_USER_LOGGED_IN -->
				<tr>
					<td colspan="2" class="row1"><span class="gen">{L_POINTS_CASH_ON_HAND}:&nbsp;{USER_POINTS} {POINTS_NAME}</span></td>
				</tr>
				<!-- ENDIF -->
				<tr>
					<td colspan="2" class="row1">&nbsp;</td>
				</tr>
				<tr>
					<td width="50%" class="row1"><span class="gen">{L_INFO_ATTACH}</span></td>
					<td width="50%" class="row2"><span class="gen">{INFO_ATTACH}</span></td>
				</tr>
				<tr>
					<td width="50%" class="row1"><span class="gen">{L_INFO_ADD_ATTACH}</span></td>
					<td width="50%" class="row2"><span class="gen">{INFO_ADD_ATTACH}</span></td>
				</tr>
				<tr>
					<td width="50%" class="row1"><span class="gen">{L_INFO_POLL}</span></td>
					<td width="50%" class="row2"><span class="gen">{INFO_POLL}</span></td>
				</tr>
				<tr>
					<td width="50%" class="row1"><span class="gen">{L_INFO_POLL_OPTION}</span></td>
					<td width="50%" class="row2"><span class="gen">{INFO_POLL_OPTION}</span></td>
				</tr>
				<tr>
					<td width="50%" class="row1"><span class="gen">{L_INFO_TOPIC_WORD}</span></td>
					<td width="50%" class="row2"><span class="gen">{INFO_TOPIC_WORD}</span></td>
				</tr>
				<tr>
					<td width="50%" class="row1"><span class="gen">{L_INFO_TOPIC_CHARACTER}</span></td>
					<td width="50%" class="row2"><span class="gen">{INFO_TOPIC_CHARACTER}</span></td>
				</tr>
				<tr>
					<td width="50%" class="row1"><span class="gen">{L_INFO_POST_WORD}</span></td>
					<td width="50%" class="row2"><span class="gen">{INFO_POST_WORD}</span></td>
				</tr>
				<tr>
					<td width="50%" class="row1"><span class="gen">{L_INFO_POST_CHARACTER}</span></td>
					<td width="50%" class="row2"><span class="gen">{INFO_POST_CHARACTER}</span></td>
				</tr>
				<tr>
					<td width="50%" class="row1"><span class="gen">{L_INFO_COST_DL_ATTACH}</span></td>
					<td width="50%" class="row2"><span class="gen">{INFO_COST_DL_ATTACH}</span></td>
				</tr>
				<tr>
					<td width="50%" class="row1"><span class="gen">{L_INFO_COST_WARNING}</span></td>
					<td width="50%" class="row2"><span class="gen">{INFO_COST_WARNING}</span></td>
				</tr>
				<tr>
					<td width="50%" class="row1"><span class="gen">{L_INFO_REG_BONUS}</span></td>
					<td width="50%" class="row2"><span class="gen">{INFO_REG_BONUS}</span></td>
				</tr>
			</table>

		</td>
	</tr>
</table>

<div class="copyright" style="text-align: center;"><i>{L_POINTS_COPYRIGHT}{POINT_VERS}</i></div>
<br clear="all" />
<!-- INCLUDE overall_footer.html -->