<!-- INCLUDE overall_header.html -->
	<style type="text/css">

/* Poster profile icons
----------------------------------------*/
ul.profile-icons {
	padding-top: 0px;
	list-style: none;
}

/* Rollover state */
ul.profile-icons li {
	float: left;
	margin: 0 0px 0px 0;
	background-position: 0 100%;
}

/* Rolloff state */
ul.profile-icons li a {
	display: block;
	width: 100%;
	height: 100%;
	background-position: 0 0;
}

/* Hide <a> text and hide off-state image when rolling over (prevents flicker in IE) */
ul.profile-icons li span { display:none; }
ul.profile-icons li a:hover { background: none; }

/* General classes for placing floating blocks */
.left-box {
	float: left;
	width: auto;
	text-align: left;
}

.right-box {
	float: right;
	width: auto;
	text-align: right;
}

dl.details {
	/*font-family: "Lucida Grande", Verdana, Helvetica, Arial, sans-serif;*/
	font-size: 1.1em;
}

dl.details dt {
	float: left;
	clear: left;
	width: 30%;
	text-align: right;
	color: #000000;
	display: block;
}

dl.details dd {
	margin-left: 0;
	padding-left: 5px;
	margin-bottom: 5px;
	color: #828282;
	float: left;
}
</style>
<h2>{PAGE_TITLE}</h2>

<form method="post" action="{S_MODE_ACTION}">
<div class="panel bg1">
	<div class="inner"><span class="corners-top"><span></span></span>
	
	<dl class="left-box details" style="width: 50%;">
		<dt>{L_MOD_TITLE}:</dt>
			<dd>
				<span><!-- IF MOD_VERSION_TYPE -->[{MOD_VERSION_TYPE}]&nbsp;<!-- ENDIF -->{MOD_TITLE}&nbsp;{MOD_VERSION}</span>
			</dd>
<!-- IF MOD_AUTHOR -->
		<dt>{L_MOD_AUTHOR}:</dt>
			<dd>
				<span>{MOD_AUTHOR}</span>
			</dd>	
<!-- ENDIF -->
<!-- IF MOD_PHPBB_VERSION -->
			<dt>{L_MOD_PHPBB_VERSION}:</dt>
			<dd>
				<span><!-- IF MOD_VERSION_TYPE -->phpbb{MOD_PHPBB_VERSION}<!-- ENDIF --></span>
			</dd>	
<!-- ENDIF -->			
<!-- IF S_MOD_IS_FOUNDER and MOD_INSTALL_DATE-->
		<dt>{L_MOD_INSTALL_DATE}:</dt>
			<dd>
				<span>{MOD_INSTALL_DATE}</span>
			</dd>		
<!-- ENDIF -->
	</dl>

		<dl class="right-box details" style="width: 50%;">
<!-- IF MOD_URL -->
		<dt style="padding-top:3px">{L_WEBSITE}:</dt>
			<dd>
			<ul class="profile-icons">
				<!-- IF MOD_URL --><li class="web-icon"><a href="{MOD_URL}" title="{L_VISIT_WEBSITE}: {MOD_URL}"><span>{L_WEBSITE}</span></a></li><!-- ELSE --><li class="no-icon"></li><!-- ENDIF -->
			</ul>
			</dd>
<!-- ENDIF -->
<!-- IF MOD_DOWNLOAD_URL -->
			<dt style="padding-top:3px">{L_DOWNLOAD}:</dt>
			<dd>
			<ul class="profile-icons">
			<!-- IF MOD_DOWNLOAD_URL --><li class="download-icon"><a href="{MOD_DOWNLOAD_URL}" title="{L_DOWNLOAD_MOD}: {MOD_DOWNLOAD_URL}"><span>{L_DOWNLOAD_MOD}</span></a></li><!-- ENDIF -->
			</ul>
			</dd>
<!-- ENDIF -->
			</dl>

	<span class="corners-bottom"><span></span></span></div>
</div>



<div class="panel bg2">
	<div class="inner"><span class="corners-top"><span></span></span>
	<div class="column1">

		<h3>{L_MOD_DESC}</h3>
		
		<dl>
		 <dt>{MOD_DESC}</dt> 
		</dl>
	</div>

	<div class="column2">
		<h3>{L_MOD_COMMENTS}</h3>
		<dl>
			<dt>{MOD_COMMENTS}</dt>
		</dl>
	</div>
	<span class="corners-bottom"><span></span></span></div>
</div>

</form>

<!-- INCLUDE jumpbox.html -->

<!-- INCLUDE overall_footer.html -->