<!-- INCLUDE simple_header.html -->

<h3>{MEETING_TITLE}</h3>
<p>{MEETING_TIME} &bull; {USERNAME}</p>

<div class="panel bg1">
	<div class="inner">
	<fieldset>

		<dl>
			<dt><strong>{L_MEETING_PRENAMES}</strong></dt>
			<dd><strong>{L_MEETING_NAMES}</strong></dd>
		</dl>
		<!-- BEGIN guest_name_row -->
		<dl class="row bg<!-- IF guest_name_row.S_ROW_COUNT is even -->1<!-- ELSE -->2<!-- ENDIF -->">
			<dt>{guest_name_row.GUEST_PRENAME}</dt>
			<dd>{guest_name_row.GUEST_NAME}</dd>
		</dl>
		<!-- END guest_name_row -->

	</fieldset>
	</div>
</div>

<br /><p class="submit-buttons"><input type="submit" onclick="javascript:window.close();" value="{L_CLOSE_WINDOW}" class="button2" /></p>

<!-- INCLUDE simple_footer.html -->