<!-- INCLUDE overall_header.html -->

<table class="tablebg" width="100%" cellspacing="1">
	<tr>
		<td class="cat" colspan="2"><h4><a href="{U_CALENDAR}">{L_LANG_CALENDAR}</a></h4></td>
	</tr>
	<tr>
		<th colspan="2"><h4>{L_EVENTS_OF} {I_MONTH}/{I_DAY}/{I_YEAR}</h4></th>
	</tr>
    <!-- IF S_NO_EVENTS -->
	<tr>
		<td class="row1" rowspan="2" align="center" valign="middle"><h4>{L_NO_EVENTS_TODAY}</h4></th>
	</tr>
    <!-- ELSE -->
	<!-- BEGIN event_row -->
	<tr>
		<td class="row1 postprofile" align="center" valign="middle" id="profile{event_row.EVENT_ID}" width="15%">
        <!-- IF event_row.POSTER_AVATAR --><a href="memberlist.php?mode=viewprofile&u={event_row.POSTER_ID}">{event_row.POSTER_AVATAR}</a><br /><!-- ENDIF --><strong>{event_row.AUTHOR}</strong>
        <!-- IF event_row.RANK_TITLE or event_row.RANK_IMG --><br />{event_row.RANK_TITLE}<!-- IF event_row.RANK_TITLE and event_row.RANK_IMG --><br /><!-- ENDIF -->{event_row.RANK_IMG}<!-- ENDIF -->
		<div style="text-align:left;">
        <!-- IF event_row.POSTER_POSTS != '' --><strong>{L_POSTS}:</strong> {event_row.POSTER_POSTS}<br /><!-- ENDIF -->
        <!-- IF event_row.POSTER_JOINED --><strong>{L_JOINED}:</strong> {event_row.POSTER_JOINED}<br /><!-- ENDIF -->
        <!-- IF event_row.POSTER_FROM --><strong>{L_LOCATION}:</strong> {event_row.POSTER_FROM}<br /><!-- ENDIF -->
		</div>
		</td>

		<td class="row1" width="100%">
            <div id="p{event_row.EVENT_ID}" class="<!-- IF event_row.S_ROW_COUNT is odd -->row1<!-- ELSE -->row2<!-- ENDIF --><!-- IF event_row.S_ONLINE --> online<!-- ENDIF -->">
                   	<!-- IF event_row.S_DELETE or event_row.S_EDIT -->
                   	<div style="text-align:right;">
            	   	<!-- IF event_row.S_EDIT --><img src="{T_THEME_PATH}/images/spacer.gif" width="6" height="18" alt="" title="" /><a href="{event_row.U_EDIT_ACTION}" title="{L_CALENDAR_EDIT_EVENT}">{EDIT_IMG}</a><!-- ENDIF -->
            	   	<!-- IF event_row.S_DELETE --><img src="{T_THEME_PATH}/images/spacer.gif" width="6" height="18" alt="" title="" /><a href="{event_row.U_DELETE_ACTION}" title="{L_CALENDAR_DELETE_EVENT}">{DELETE_IMG}</a><!-- ENDIF -->
                   	</div>
		          	<!-- ENDIF -->
                 <div>
                  	<h3><!-- IF event_row.S_IS_CONTINUED --><img src="{CONTINUED_IMG}" title="{L_IS_CONTINUED_EVENT}"/> <!-- ENDIF --><!-- IF event_row.S_IS_REPEAT --><img src="{REPEAT_IMG}" title="{L_IS_REPEAT_EVENT}"/> <!-- ENDIF -->{event_row.NAME}</h3>
                  	<div>
                  		<dl style="clear: left;">
                     		<dt>{L_STARTS}:</dt>
                     		<dd><strong>{event_row.START_TIME}</strong></dd>
                     		<dt>{L_ENDS}:</dt>
                     		<dd><strong>{event_row.END_TIME}</strong></dd>
                     		<dt>{L_DURATION}:</dt>
                     		<dd><strong>{event_row.DURATION}</strong></dd>
                     		<!-- IF event_row.S_HAS_REPEATS -->
                         		<dt>{L_REPEATED}:</dt>
                        		<dd><strong>{event_row.REPEAT_LIST}</strong></dd>
                     		<!-- ENDIF -->
                  		</dl>
                  	</div>
              		<!-- IF event_row.S_IS_INVITED and S_USER_LOGGED_IN -->
                  	<div class="rules">
                  	<!-- IF event_row.S_IS_SIGNED_UP -->
                        <p style="color:#00AA00; text-align:center;">{L_CALENDAR_SIGNED_UP}&nbsp;&nbsp;&nbsp;<a href="{event_row.U_UNREG}">{L_CALENDAR_UN_SIGN_UP}</a></p>
                  	<!-- ELSEIF event_row.S_IS_SIGNED_DOWN -->
                        <p style="color:#BC2A4D; text-align:center;">{L_CALENDAR_SIGNED_DOWN}&nbsp;&nbsp;&nbsp;<a href="{event_row.U_UNREG}">{L_CALENDAR_UN_SIGN_UP}</a></p>
                  	<!-- ELSE -->
                        <p style="color:#00AA00; text-align:center;">{L_CALENDAR_SIGN_UP_INVITATION}&nbsp;&nbsp;&nbsp;<a href="{event_row.U_SIGN_UP}">{L_CALENDAR_SIGN_UP_ACCEPT}</a> &bull; <a href="{event_row.U_SIGN_DOWN}">{L_CALENDAR_SIGN_UP_DECLINE}</a></p>
                  	<!-- ENDIF -->
                  	</div>
                  	<!-- IF S_SHOW_ATTENDEES_LIST -->
                      <h4>{L_CALENDAR_EVENT_MEMBERS_SIGNED}</h4>
                      <!-- IF event_row.SIGNED_UP_LIST -->{event_row.SIGNED_UP_LIST}<!-- ELSE -->{L_CALENDAR_EVENT_MEMBERS_SIGNED_NONE}<!-- ENDIF -->
                      <hr />
                      <h4>{L_CALENDAR_EVENT_MEMBERS_NOT_SIGNED}</h4>
                      <!-- IF event_row.SIGNED_DOWN_LIST -->{event_row.SIGNED_DOWN_LIST}<!-- ELSE -->{L_CALENDAR_EVENT_MEMBERS_NOT_SIGNED_NONE}<!-- ENDIF -->
                      <br />
                  	<!-- ENDIF -->
              		<!-- ENDIF -->
              		  <dl style="clear: left;">
			    	  <dt><label for="subject">{L_CALENDAR_EVENT_DESC}:</label></dt>
		      	      </dl>
                 	<div class="content">{event_row.DESC}</div>   
                 </div>          
                 <div class="back2top" style="padding:6px 2px;"><a href="#top" class="top" title="{L_BACK_TO_TOP}"><img src="{T_IMAGESET_PATH}/icon_post_top.gif" alt="{L_BACK_TO_TOP}" title="{L_BACK_TO_TOP}" width="22" height="20" /></a></div>

				<br style="clear:both;">
            </div>
		</td>
	</tr>
	<!-- ENDIF -->
	<!-- END event_row -->
</table>

<br clear="all" />

<table class="tablebg" width="100%" cellspacing="1">
	<tr>
		<td class="cat" colspan="2"><h4>Birthdays for {I_MONTH}/{I_DAY}/{I_YEAR}</h4></td>
	</tr>
	<tr>
		<td class="row1" align="center" valign="middle"><img src="{T_THEME_PATH}/images/whosonline.gif" alt="{L_BIRTHDAYS}" /></td>
		<td class="row1" width="100%"><p class="genmed"><!-- IF S_NO_BIRTHDAY -->{L_NO_BIRTHDAYS}<!-- ELSE -->{L_CONGRATULATIONS}: <!-- BEGIN birthday_row -->{birthday_row.USERNAME_FULL} ({birthday_row.AGE})<!-- IF not birthday_row.S_LAST_ROW -->, <!-- ENDIF --><!-- END bday_list --><!-- ENDIF --></p></td>
	</tr>
</table>

<!-- INCLUDE overall_footer.html -->