<!-- IF S_NOTES_POPUP -->
	<!-- INCLUDE simple_header.html -->
<!-- ELSE -->
	<!-- INCLUDE overall_header.html -->
<!-- ENDIF -->

<script type="text/javascript">
var	form_name 				= 'postform';
var	text_name 				= 'message';
</script>
<script type="text/javascript" src="{T_TEMPLATE_PATH}/editor.js" ></script>

<h2>{L_NOTES} - {L_NOTE_MODE}</h2>

<br />

<table width="100%" cellspacing="2" cellpadding="2" border="0" align="center">
<tr>
	<td><b>{L_NOTES}</b>&nbsp;&bull;&nbsp;{L_NOTES_TOTAL}</td>
</tr>
</table>

<br />

<form action="{S_FORM_ACTION}" method="post" id="postform" name="postform">

<div class="page-content">

	<table class="table1" cellpadding="3" cellspacing="0" border="0" width="100%">
	<tr>
		<td class="row2">
			<table width="100%" cellspacing="0" cellpadding="0" border="0">
			<tr>
				<td valign="top" colspan="2">{L_SUBJECT}: <input class="inputbox" name="subject" size="75" maxlength="255" tabindex="2" value="{NOTES_SUBJECT}" /></td>
			</tr>
			<tr>
				<td valign="top" colspan="2">{L_NOTES_MEM}: <input type="radio" name="mem_yesno" value="0" {MEM_CHECKED_NO} /> {L_NO} <input type="radio" name="mem_yesno" value="1" {MEM_CHECKED_YES} /> {L_YES}&nbsp;&raquo;&nbsp;{S_NOTE_MEM_DAY}&nbsp;{S_NOTE_MEM_MONTH}&nbsp;{S_NOTE_MEM_YEAR}&nbsp;&bull;&nbsp;{S_NOTE_MEM_HOUR}&nbsp;{S_NOTE_MEM_MIN}</td>
			</tr>
			<!-- INCLUDE posting_buttons.html -->
			<tr>
				<td valign="top" style="width: 100%;"><textarea name="message" rows="15" cols="76" tabindex="3" onselect="storeCaret(this);" onclick="storeCaret(this);" onkeyup="storeCaret(this);" style="width: 98%;">{NOTES_MESSAGE}</textarea></td>
				<!-- IF S_BBCODE_ALLOWED -->
				<td width="80" align="center" valign="top">
					<script type="text/javascript">
					// <![CDATA[
						colorPalette('v', 7, 6)
					// ]]>
					</script>
				</td>
				<!-- ENDIF -->
		 	</tr>
			</table>
		</td>
	</tr>
	<!-- IF .smiley -->
	<tr>
		<td class="row1">
		<table width="100%" cellspacing="5" cellpadding="0" border="0" align="center">
		<tr>
			<td class="gensmall" align="center"><b>{L_SMILIES}</b></td>
		</tr>
		<tr>
			<td align="center">
				<!-- BEGIN smiley -->
					<a href="#" onclick="insert_text('{smiley.A_SMILEY_CODE}', true); return false;" style="line-height: 20px;"><img src="{smiley.SMILEY_IMG}" width="{smiley.SMILEY_WIDTH}" height="{smiley.SMILEY_HEIGHT}" alt="{smiley.SMILEY_CODE}" title="{smiley.SMILEY_DESC}" hspace="2" vspace="2" /></a>
				<!-- END smiley -->
			</td>
		</tr>
		<tr>
			<td align="center"><a class="nav" href="{U_MORE_SMILIES}" onclick="popup(this.href, 400, 200, '_blank'); return false;">{L_MORE_SMILIES}</a></td>
		</tr>
		</table>
		</td>
	</tr>
	<!-- ENDIF -->
	<tr>
		<td class="row3" align="center"><input type="submit" name="submit" class="btnmain" value="{L_SUBMIT}" />&nbsp;&nbsp;<input type="submit" name="cancel" class="btnlite" value="{L_CANCEL}" /></td>
	</tr>
	</table>
	
	{S_FORM_TOKEN}
	{S_HIDDEN_FIELDS}

</div>
	
</form>

<br />

<!-- IF S_NOTES_POPUP -->
	<br />

	<p align="center">
		<input type="submit" name="cancel" class="btnlite" value="{L_CLOSE}" onclick="javascript:window.close()" />
	</p>

	<br />

	<!-- INCLUDE simple_footer.html -->
<!-- ELSE -->
	<!-- INCLUDE overall_footer.html -->
<!-- ENDIF -->
