<!-- IF S_NOTES_POPUP -->
	<!-- INCLUDE simple_header.html -->
<!-- ELSE -->
	<!-- INCLUDE overall_header.html -->
<!-- ENDIF -->

<h2>{L_NOTES}</h2>

<br />

<form action="{S_FORM_ACTION}" method="post" name="notes">

	<table width="100%" cellspacing="2" cellpadding="2" border="0" align="center">
	<tr>
		<td><b>{L_NOTES}</b>&nbsp;&bull;&nbsp;{L_NOTES_TOTAL}</td>
		<!-- IF S_NEW_NOTE -->
		<td align="right"><a href="{U_NEW_NOTE}">{L_ADD_NOTE}</a></td>
		<!-- ENDIF -->
	</tr>
	</table>

	<table width="100%" cellspacing="2" cellpadding="2" border="0" align="center">
	<tr>
		<td>{SEARCH_IN}&nbsp;<input type="text" name="search_string" size="30" maxlength="50" class="inputbox autowidth" />&nbsp;<input type="submit" class="btnlite" value="{L_SEARCH}" /></td>
		<td align="right">{SORT_BY}&nbsp;{SORT_ORDER}&nbsp;<input type="submit" class="btnlite" value="{L_SORT}" /></td>
	</tr>
	</table>

</form>

<!-- IF L_FILTER -->
<table width="100%" cellpadding="3" cellspacing="1" border="0">	
<tr>
	<td align="center"><i>* {L_FILTER}</i></td>
</tr>
</table>
<!-- ENDIF -->

<!-- IF S_NO_NOTES -->
	<br />
	
	<h3>{L_NO_NOTES}</h3>
<!-- ELSE -->
	<table class="tablebg" width="100%" cellspacing="1">
	<!-- BEGIN notes_row -->
	<tr>
		<td class="row<!-- IF notes_row.S_ROW_COUNT is odd -->1<!-- ELSE -->2<!-- ENDIF -->" width="80%"><b>{notes_row.NOTE_SUBJECT}</b><!-- IF notes_row.NOTES_MEM --><br /><p class="datebar"><strong>{L_NOTES_MEM}: </strong>{notes_row.NOTES_MEM}</p><!-- ENDIF --></td>
		<td class="row<!-- IF notes_row.S_ROW_COUNT is odd -->1<!-- ELSE -->2<!-- ENDIF -->" width="80%"" width="20%" rowspan="2" valign="top">
			<b>{L_POSTED}:</b><br />{notes_row.NOTE_DATE}<br /><br />
			<a href="{notes_row.U_EDIT_NOTE}">{L_EDIT_NOTE}</a> &bull; <a href="{notes_row.U_DELETE_NOTE}">{L_DELETE_NOTE}</a>
		</td>
	</tr>
	<tr>
		<td class="row<!-- IF notes_row.S_ROW_COUNT is odd -->1<!-- ELSE -->2<!-- ENDIF -->"><div class="postbody" width="80%">{notes_row.NOTE_TEXT}</div></td>
	</tr>
	<tr>
		<td class="row<!-- IF notes_row.S_ROW_COUNT is odd -->1<!-- ELSE -->2<!-- ENDIF -->" colspan="2" align="right" width="100%"><strong><a href="#wrapheader">{L_BACK_TO_TOP}</a></strong></td>
	</tr>
	<!-- END notes_row -->
	</table>
<!-- ENDIF -->

<br />

<table width="100%" cellspacing="2" cellpadding="2" border="0" align="center">
<tr>
	<td><b>{L_NOTES}</b>&nbsp;&bull;&nbsp;{L_NOTES_TOTAL}</td>
	<!-- IF S_NEW_NOTE -->
	<td align="right"><a href="{U_NEW_NOTE}">{L_ADD_NOTE}</a></td>
	<!-- ENDIF -->
</tr>
</table>

<!-- IF S_NOTES_POPUP -->
	<br />

	<p align="center">
		<input type="submit" name="cancel" class="btnlite" value="{L_CLOSE}" onclick="javascript:window.close()" />
	</p>

	<br />

	<!-- INCLUDE simple_footer.html -->
<!-- ELSE -->
	<!-- INCLUDE overall_footer.html -->
<!-- ENDIF -->
