<!-- INCLUDE overall_header.html -->
<p class="{S_CONTENT_FLOW_END}<!-- IF S_USER_LOGGED_IN --> rightside<!-- ENDIF -->"><!-- IF S_USER_LOGGED_IN -->{LAST_VISIT_DATE}<!-- ELSE -->{CURRENT_TIME}<!-- ENDIF --></p>
<!-- IF U_MCP --><p>{CURRENT_TIME} <br />[&nbsp;<a href="{U_MCP}">{L_MCP}</a>&nbsp;]</p><!-- ELSEIF S_USER_LOGGED_IN --><p>{CURRENT_TIME}</p><!-- ENDIF -->

<h2>{SEARCH_TITLE}</h2>

<p><a class="{S_CONTENT_FLOW_BEGIN}" href="{U_ACTION}" title="{L_SEARCH_ADV}">{L_RETURN_TO_SEARCH_ADV}</a></p>
<br />
<!-- IF RESULT_MESSAGE --><h2>{RESULT_MESSAGE}</h2><!-- ENDIF -->
<!-- IF PAGINATION -->
<ul class="linklist">
	<li class="rightside pagination"> {PAGE_NUMBER} <span>{PAGINATION}</span></li>
</ul>
<!-- ENDIF -->
<!-- BEGIN result -->
<!-- IF result.S_ROW_COUNT is even --><div class="post bg1"><!-- ELSE --><div class="post bg2"><!-- ENDIF -->
<div class="inner">
	<span class="corners-top"><span></span></span>
		<div style="padding: 15px;">
		<b><a href="{result.U_ARTICLE}">{result.TITLE}</a></b><br />
		{result.DESCRIPTION}<br /><br />
		{L_FOUND_IN}: <a href="{result.U_CATEGORIE}">{result.CAT}</a>
		</div>
	<span class="corners-bottom"><span></span></span>
	</div>
</div> 
<br />
<!-- END result -->
<ul class="linklist">
	<li class="rightside pagination"> {PAGE_NUMBER} <span>{PAGINATION}</span></li>
</ul>
<p></p><p><a class="{S_CONTENT_FLOW_BEGIN}" href="{U_ACTION}" title="{L_SEARCH_ADV}">{L_RETURN_TO_SEARCH_ADV}</a></p>
<br />
<!-- INCLUDE overall_footer.html -->
