<!-- IF S_TYPE == 1 -->
<div class="ucp-card">
	<div class="ucp-card-body">
	<h3>{L_CONFIRMATION}</h3>
	<p>{L_CONFIRM_EXPLAIN}</p>
	<div class="ucp-form-grid">
<!-- ENDIF -->

<!-- IF S_RECAPTCHA_V2_AVAILABLE -->
	<div class="ucp-form-row">
		<p class="ucp-form-label">{L_CONFIRM_CODE}:</p>
		<p class="ucp-form-help">{L_RECAPTCHA_V2_EXPLAIN}</p>
		<noscript>
			<div>{L_RECAPTCHA_NOSCRIPT}</div>
		</noscript>
		<script src="https://www.google.com/recaptcha/api.js?hl={L_RECAPTCHA_V2_LANG}"></script>
		<div class="g-recaptcha" data-sitekey="{RECAPTCHA_V2_PUBKEY}"></div>
	</div>
<!-- ELSE -->
	<p>{L_RECAPTCHA_NEW_NOT_AVAILABLE}</p>
<!-- ENDIF -->

<!-- IF S_TYPE == 1 -->
	</div>
	</div>
</div>
<!-- ENDIF -->
