<!-- IF B_SN_BLOCK_STATISTICS_ENABLED -->
	<!-- DEFINE $BLOCK_HEADER = '{L_SN_AP_STATISTICS}' -->
	<!-- INCLUDE socialnet/block_page_header.html -->
	<div class="sn-page-blockText">
		<span class="sn-page-text">{TOTAL_USERS} &bull; {USERS_PER_DAY}</span>
		<span class="sn-page-text">{TOTAL_POSTS} &bull; {POSTS_PER_DAY}</span>
		<span class="sn-page-text">{TOTAL_TOPICS} &bull; {TOPICS_PER_DAY}</span>
<!-- IF S_DISPLAY_LIKES -->
		<span class="sn-page-text"><strong>{LIKES}</strong> <!-- IF LIKES > 1 -->{L_AL_POSTS_TEXT}<!-- ELSE -->{L_AL_POST_TEXT}<!-- ENDIF --></span>
		<span class="sn-page-text"><strong>{LIKED}</strong> <!-- IF LIKED > 1 -->{L_AL_POSTS_TEXT}<!-- ELSE -->{L_AL_POST_TEXT}<!-- ENDIF --></span>
<!-- ENDIF -->	

<!-- IF S_DISPLAY_POINTS_STATS -->
		<span class="sn-page-text">{TOTAL_POINTS_USER} &bull; {TOTAL_BANK_USER} &bull; {TOTAL_BANK_POINTS}</span>
<!-- ENDIF -->	

	</div>
<!-- ENDIF -->
