<!-- IF B_SN_BLOCK_STATISTICS_ENABLED -->
	<!-- DEFINE $BLOCK_HEADER = '{L_SN_AP_STATISTICS}' -->
	<!-- INCLUDE socialnet/block_page_header.html -->
	<div class="sn-page-blockText">
		<span class="sn-page-text">{TOTAL_USERS} &bull; {USERS_PER_DAY}</span>
		<span class="sn-page-text">{TOTAL_POSTS} &bull; {POSTS_PER_DAY}</span>
		<span class="sn-page-text">{TOTAL_TOPICS} &bull; {TOPICS_PER_DAY}</span>
		
		
			<dt>{L_AL_LIKE_COUNT_TEXT}:</dt>
				<dd><strong>{LIKES}</strong> <!-- IF LIKES > 1 -->{L_AL_POSTS_TEXT}<!-- ELSE -->{L_AL_POST_TEXT}<!-- ENDIF --></dd>
			<dt>{L_AL_LIKED_COUNT_TEXT}:</dt>
				<dd><strong>{LIKED}</strong> <!-- IF LIKED > 1 -->{L_AL_POSTS_TEXT}<!-- ELSE -->{L_AL_POST_TEXT}<!-- ENDIF --></dd>
		
		
		
		
		
	</div>
<!-- ENDIF -->