<!-- INCLUDE overall_header.html -->
<!-- $Id: points_transfer.html 587 2009-10-14 18:36:12Z Wuerzi $ -->

<table width="100%" cellspacing="0" cellpadding="0" border="0">
	<tr>
		<td width="20%" valign="top">
		
			<table class="tablebg" width="100%" cellspacing="1">
				<tr>
					<th>{L_POINTS_DESCRIPTION}</th>
				</tr>
				<tr class="row1">
					<td>{L_TRANSFER_DESCRIPTION}</td>
				</tr>
			</table>

		</td>
		<td width="80%" valign="top">

			<form id="transfer" method="post" action="{U_ACTION}">		
			<table class="tablebg" width="100%" cellspacing="1">
				<tr>
					<th colspan="2" valign="middle">{L_POINTS_TRANSFER}</th>
				</tr>
				<tr>
					<td class="row1" colspan="2"><span class="gensmall"><i>{U_TRANSFER_NAME}</i></span></td>
				</tr>
				<tr>
					<td class="row1" width="40%"><b class="genmed">{L_TRANSFER_AMOUNT}:</b></td>
					<td class="row2" align="center"><input class="post" tabindex="1" maxlength="10" type="text" title="{L_POINTS_NUMBER_FORMAT_EXPLAIN}" name="amount" value="" /> {POINTS_NAME}</td>
				</tr>
				<!-- IF POINTS_COMMENTS and S_ALLOW_SEND_PM -->
				<tr>
					<td class="row1"><b class="genmed">{L_TRANSFER_COMMENT}:</b></td>
					<td class="row2" align="center"><textarea name="comment" cols="50" rows="3" class="inputbox autowidth" id="comment" tabindex="2" title=""></textarea><br /></td>
				</tr>
				<!-- ENDIF -->
				<tr>
					<td class="cat" colspan="2" align="center">{S_HIDDEN_FIELDS}<input type="submit" tabindex="3" name="submit" value="{L_SUBMIT}" class="btnmain" />{S_FORM_TOKEN}</td>
				</tr>
			</table>
			</form>

		</td>
	</tr>
</table>

<div class="copyright" style="text-align: center;"><i>{L_POINTS_COPYRIGHT}{POINT_VERS}</i></div>
<br clear="all" />
<!-- INCLUDE overall_footer.html -->