<!-- INCLUDE overall_header.html -->
<!-- $Id: points_bank.html 587 2009-10-14 18:36:12Z Wuerzi $ -->
	
<table width="100%" cellspacing="0" cellpadding="0" border="0">
	<tr>
		<td width="20%" valign="top">

			<table class="tablebg" width="100%" cellspacing="1">
				<tr>
					<th>{L_POINTS_OPTIONS}</th>
				</tr>
				<tr class="row1">
					<td><a href="{U_POINTS}">{L_POINTS_OVERVIEW}</a></td>
				</tr>
				<tr class="row1">
					<td><a href="{U_INFO}">{L_POINTS_INFO}</a></td>
				</tr>
				<!-- IF TRANSFER_ENABLE and U_USE_TRANSFER -->
				<tr class="row1">
					<td><a href="{U_TRANSFER_USER}">{L_POINTS_TRANSFER}</a></td>
				</tr>
				<!-- ENDIF -->
				<!-- IF LOGS_ENABLE and U_USE_LOGS-->
				<tr class="row1">
					<td><a href="{U_LOGS}">{L_POINTS_LOGS}</a></td>
				</tr>
				<!-- ENDIF -->
				<!-- IF LOTTERY_ENABLE and U_USE_LOTTERY -->
				<tr class="row1">
					<td><a href="{U_LOTTERY}">{LOTTERY_NAME}</a></td>
				</tr>
				<!-- ENDIF -->
				<!-- IF BANK_ENABLE and U_USE_BANK -->
				<tr class="row1">
					<td><a href="{U_BANK}"><b>{BANK_NAME}</b></a></td>
				</tr>
				<!-- ENDIF -->
				<!-- IF ROBBERY_ENABLE and U_USE_ROBBERY -->
				<tr class="row1">
					<td><a href="{U_ROBBERY}">{L_POINTS_ROBBERY}</a></td>
				</tr>
				<!-- ENDIF -->
			</table>

			<br clear="all" />

			<table class="tablebg" width="100%" cellspacing="1">
				<tr>
					<th>{L_BANK_RICHEST_USER}</th>
				</tr>
				<tr class="row1">
					<td>
						<!-- IF S_DISPLAY_INDEX -->
							<!-- BEGIN bank -->
							<span style="float:left; padding-left:5px; padding-top:2px;">{bank.USERNAME}</span>
							<span style="float:right;padding-right:10px; padding-top:2px;">{bank.POINT}</span><br style="clear:both" />
							<!-- END bank -->
						<!-- ELSE -->
						{L_POINTS_MOST_RICH_USERS_DISABLED}
						<!-- ENDIF -->
					</td>
				</tr>
			</table>

			<br clear="all" />

			<table class="tablebg" width="100%" cellspacing="1">
				<tr>
					<th>{L_POINTS_DESCRIPTION}</th>
				</tr>
				<tr class="row1">
					<td>{L_BANK_DESCRIPTION}</td>
				</tr>
			</table>

		</td>

		<td width="80%" valign="top">

			<table class="tablebg" width="100%" cellspacing="1">
				<tr> 
					<th class="thHead" colspan="2">{BANK_NAME}</th>
				</tr>
				<!-- IF S_USER_LOGGED_IN -->
					<!-- BEGIN has_account -->
					<tr>
						<td class="row2" colspan="2"><span class="gen"><b>{L_BANK_ACTIONS}</b></span></td>
					</tr>
					<tr>
						<td class="row1"><span class="gen">{L_BANK_BUTTON_DEPOSIT}</span></td>
						<td class="row2">
							<form id="bank_deposit" method="post" action="{U_DEPOSIT}">
							<input type="submit" tabindex="2" class="liteoption" name="deposit" value="{L_BANK_BUTTON_DEPOSIT}" />
							<input type="text" tabindex="1" maxlength="10" class="post" title="{L_POINTS_NUMBER_FORMAT_EXPLAIN}" name="deposit" size="20" value="{USER_GOLD}" /> {POINTS_NAME}
							{S_FORM_TOKEN}
							</form>
						</td>
					</tr>
					<tr>
						<td class="row1"><span class="gen">{L_BANK_BUTTON_WITHDRAW}</span></td>
						<td class="row2">
							<form id="bank_withdraw" method="post" action="{U_WITHDRAW}">
							<input type="submit" tabindex="4" class="liteoption" name="withdraw" value="{L_BANK_BUTTON_WITHDRAW}" />
							<input type="text" tabindex="3" maxlength="10" class="post" title="{L_POINTS_NUMBER_FORMAT_EXPLAIN}" name="withdraw" size="20" value="{USER_WITHDRAW}" /> {POINTS_NAME}
							{S_FORM_TOKEN}
							</form>
						</td>
					</tr>
					<!-- END has_account -->
					<!-- BEGIN no_account -->
					<tr>
						<td class="row1" colspan="2"><span class="gensmall">{no_account.USER_NO_ACCOUNT}</span></td>
					</tr>
					<tr>
						<td class="row1" colspan="2"><span class="gen">{no_account.OPEN_ACCOUNT}</span></td>
					</tr>
					<!-- END no_account -->
					<tr>
						<td class="row1" colspan="2"><br /></td>
					</tr>
					<tr>
						<td class="row3" colspan="2"><span class="gen"><b>{L_BANK_INFO}</b></span></td>
					</tr>
					<!-- BEGIN has_account -->
					<tr>
						<td class="row1"><span class="gen">{L_BANK_BALANCE}</span></td><td class="row2"><span class="gen">{USER_BALANCE} {POINTS_NAME}</span></td>
					</tr>
					<tr>
						<td class="row1" colspan="2"><br /></td>
					</tr>
					<!-- END has_account -->
				<!-- ELSE -->
				<tr>
					<td class="row1" colspan="2"><span class="gensmall">{L_POINTS_BOT_GUEST}</span></td>
				</tr>
				<!-- ENDIF -->
				<tr>
					<td class="row1"><span class="gen">{L_BANK_INTEREST_RATE}</span></td><td class="row2"><span class="gen">{BANK_INTEREST}%</span></td>
				</tr>
				<tr>
					<td class="row1"><span class="gen">{L_BANK_INTEREST_PERIOD}</span></td><td class="row2"><span class="gen">{BANK_INTEREST_PERIOD}</span></td>
				</tr>
				<tr>
					<td class="row1" colspan="2"><br /></td>
				</tr>
				<!-- BEGIN switch_withdraw_fees -->
				<tr>
					<td class="row1"><span class="gen">{L_BANK_WITHDRAW_RATE}</span></td><td class="row2"><span class="gen">{BANK_FEES}%</span></td>
				</tr>
				<!-- END switch_withdraw_fees -->
				<tr>
					<td class="row1"><span class="gen">{L_BANK_COST}</span></td><td class="row2"><span class="gen">{BANK_COST} {POINTS_NAME}</span></td>
				</tr>
				<tr>
					<td class="row1" colspan="2"><br /></td>
				</tr>
				<!-- BEGIN switch_min_depo -->
				<tr>
					<td class="row1"><span class="gen">{L_BANK_MIN_DEPO}</span></td><td class="row2"><span class="gen">{BANK_MIN_DEPO} {POINTS_NAME}</span></td>
				</tr>
				<!-- END switch_min_depo -->
				<!-- BEGIN switch_min_with -->
				<tr>
					<td class="row1"><span class="gen">{L_BANK_MIN_WITH}</span></td><td class="row2"><span class="gen">{BANK_MIN_WITH} {POINTS_NAME}</span></td>
				</tr>
				<!-- END switch_min_with -->
				<tr>
					<td class="row1"><span class="gen">{L_BANK_TOTAL_ACCOUNTS}</span></td><td class="row2"><span class="gen">{BANK_ACCOUNTS}</span></td>
				</tr>
				<tr>
					<td class="row1"><span class="gen">{L_BANK_HOLDING}</span></td><td class="row2"><span class="gen">{BANK_HOLDINGS} {POINTS_NAME}</span></td>
				</tr>
			</table>
			
		</td>
	</tr>
</table>

<div class="copyright" style="text-align: center;"><i>{L_POINTS_COPYRIGHT}{POINT_VERS}</i></div>
<br clear="all" />
<!-- INCLUDE overall_footer.html -->
