<!-- INCLUDE overall_header.html -->
<!-- $Id: points_robbery.html 587 2009-10-14 18:36:12Z Wuerzi $ -->

<table width="100%" cellspacing="0" cellpadding="0" border="0">
	<tr>
		<td width="20%" valign="top">

			<table class="tablebg" width="100%" cellspacing="1">
				<tr>
					<th>{L_POINTS_OPTIONS}</th>
				</tr>
				<tr class="row1">
					<td><a href="{U_POINTS}">{L_POINTS_OVERVIEW}</a></td>
				</tr>
				<tr class="row1">
					<td><a href="{U_INFO}">{L_POINTS_INFO}</a></td>
				</tr>
				<!-- IF TRANSFER_ENABLE and U_USE_TRANSFER -->
				<tr class="row1">
					<td><a href="{U_TRANSFER_USER}">{L_POINTS_TRANSFER}</a></td>
				</tr>
				<!-- ENDIF -->
				<!-- IF LOGS_ENABLE and U_USE_LOGS -->
				<tr class="row1">
					<td><a href="{U_LOGS}">{L_POINTS_LOGS}</a></td>
				</tr>
				<!-- ENDIF -->
				<!-- IF LOTTERY_ENABLE and U_USE_LOTTERY -->
				<tr class="row1">
					<td><a href="{U_LOTTERY}">{LOTTERY_NAME}</a></td>
				</tr>
				<!-- ENDIF -->
				<!-- IF BANK_ENABLE and U_USE_BANK -->
				<tr class="row1">
					<td><a href="{U_BANK}">{BANK_NAME}</a></td>
				</tr>
				<!-- ENDIF -->
				<!-- IF ROBBERY_ENABLE and U_USE_ROBBERY -->
				<tr class="row1">
					<td><a href="{U_ROBBERY}"><b>{L_POINTS_ROBBERY}</b></a></td>
				</tr>
				<!-- ENDIF -->
			</table>

			<br clear="all" />

			<table class="tablebg" width="100%" cellspacing="1">
				<tr>
					<th>{L_POINTS_DESCRIPTION}</th>
				</tr>
				<tr class="row1">
					<td>
						{L_ROBBERY_CHANCE}<br /><br />{L_ROBBERY_AMOUNTLOSE}
					</td>
				</tr>
			</table>

		</td>
		<td width="80%" valign="top">

			<form id="post" action="{U_ACTION}" method="post">
			<table class="tablebg" width="100%" cellspacing="1">
			<tr>
				<th colspan="2" valign="middle">{L_POINTS_ROBBERY}</th>
			</tr>
			<!-- IF S_USER_LOGGED_IN -->
			<tr>
				<td class="row1" colspan="2"><span class="gensmall"><i>{L_POINTS_CASH_ON_HAND}:&nbsp;{USER_POINTS} {POINTS_NAME}</i></span></td>
			</tr>
			<tr>
				<td class="row1" width="40%"><b class="genmed">{L_ROBBERY_SET_USERNAMER}:</b><br /></td>
				<td class="row2" align="center"><input type="text" tabindex="1" id="username" class="inputbox" name="username" value=""/><br /><a href="{U_FIND_USERNAME}" onclick="find_username(this.href); return false;">{L_FIND_USERNAME}</a></td>
			</tr>
			<tr>
				<td class="row1"><b class="genmed">{L_ROBBERY_SET_AMOUNTR}:</b></td>
				<td class="row2" align="center"><input type="text" tabindex="2" maxlength="10" class="inputbox" title="{L_POINTS_NUMBER_FORMAT_EXPLAIN}" name="attacked_amount" value=""/> {POINTS_NAME}<br /></td>
			</tr>
			<tr>
				<td class="cat" colspan="2" align="center">{S_HIDDEN_FIELDS}<input type="submit" tabindex="3" accesskey="s" name="submit" value="{L_ROBBERY_START}" class="btnmain" />{S_FORM_TOKEN}</td>
			</tr>
			<!-- ELSE -->
			<tr>
				<td class="row1" colspan="2"><span class="gensmall">{L_POINTS_BOT_GUEST}</span></td>
			</tr>
			<!-- ENDIF -->
			</table>
			</form>
			
		</td>
	</tr>
</table>

<div class="copyright" style="text-align: center;"><i>{L_POINTS_COPYRIGHT}{POINT_VERS}</i></div>
<br clear="all" />
<!-- INCLUDE overall_footer.html -->
