<!-- INCLUDE overall_header.html -->
<!-- $Id: points_logs.html 587 2009-10-14 18:36:12Z Wuerzi $ -->

<table width="100%" cellspacing="0" cellpadding="0" border="0">
	<tr>
		<td width="20%" valign="top">

			<table class="tablebg" width="100%" cellspacing="1">
				<tr>
					<th>{L_POINTS_OPTIONS}</th>
				</tr>
				<tr class="row1">
					<td><a href="{U_POINTS}">{L_POINTS_OVERVIEW}</a></td>
				</tr>
				<tr class="row1">
					<td><a href="{U_INFO}">{L_POINTS_INFO}</a></td>
				</tr>
				<!-- IF TRANSFER_ENABLE and U_USE_TRANSFER -->
				<tr class="row1">
					<td><a href="{U_TRANSFER_USER}">{L_POINTS_TRANSFER}</a></td>
				</tr>
				<!-- ENDIF -->
				<!-- IF LOGS_ENABLE and U_USE_LOGS -->
				<tr class="row1">
					<td><a href="{U_LOGS}"><b>{L_POINTS_LOGS}</b></a></td>
				</tr>
				<!-- ENDIF -->
				<!-- IF LOTTERY_ENABLE and U_USE_LOTTERY -->
				<tr class="row1">
					<td><a href="{U_LOTTERY}">{LOTTERY_NAME}</a></td>
				</tr>
				<!-- ENDIF -->
				<!-- IF BANK_ENABLE and U_USE_BANK -->
				<tr class="row1">
					<td><a href="{U_BANK}">{BANK_NAME}</a></td>
				</tr>
				<!-- ENDIF -->
				<!-- IF ROBBERY_ENABLE and U_USE_ROBBERY -->
				<tr class="row1">
					<td><a href="{U_ROBBERY}">{L_POINTS_ROBBERY}</a></td>
				</tr>
				<!-- ENDIF -->
			</table>

			<br clear="all" />

			<table class="tablebg" width="100%" cellspacing="1">
				<tr>
					<th>{L_POINTS_DESCRIPTION}</th>
				</tr>
				<tr class="row1">
					<td>{L_LOGS_DESCRIPTION}</td>
				</tr>
			</table>

		</td>
		<td width="80%" valign="top">

			<table class="tablebg" width="100%" cellspacing="1">
				<tr>
					<th>{L_POINTS_LOGS}</th>
				</tr>
			</table>
			<table class="tablebg" cellspacing="1" width="100%" cellpadding="4" border="0">
				<thead>
				<tr>
					<th width="20%">{L_LOGS_DATE}</th>
					<th width="10%">{L_LOGS_TYPE}</th>
					<th width="15%">{L_LOGS_WHO}</th>
					<th width="20%">{L_LOGS_TO}</th>
					<th width="35%">{L_LOGS_COMMENT}</th>
				</tr>
				</thead>
				<tbody>
				<!-- BEGIN logs -->
				<!-- IF logs.S_ROW_COUNT is even --><tr class="row2"><!-- ELSE --><tr class="row1"><!-- ENDIF -->
					<td>{logs.DATE}</td>
					<td>{logs.TYPE}</td>
					<td>{logs.WHO}</td>
					<td>{logs.TO}</td>
					<td>{logs.COMMENT}</td>
				</tr>
				<!-- BEGINELSE -->
				<tr class="row3">
					<td colspan="5"><b class="genmed">{L_LOGS_REASON_NOLOGS}</b></td>
				</tr>
				<!-- END logs -->
				<tr class="row2">
					<td colspan="5">
						<form action="{S_LOGS_ACTION}" method="post">
						{L_SORT_BY} {S_SELECT_SORT_KEY} {S_SELECT_SORT_DIR} <input type="submit" name="sort" value="{L_GO}" class="button2" />
						</form>
					</td>
				</tr>
				</tbody>
			</table>

			<!-- IF PAGINATION -->
			<table width="100%" cellspacing="1">
				<tr>
					<td class="nav" valign="middle" nowrap="nowrap">{L_POINTS_LOG_TOTAL}: {L_TOTAL_ENTRIES} &bull; {PAGE_NUMBER}<br /></td>
					<td class="gensmall" width="100%" align="{S_CONTENT_FLOW_END}" nowrap="nowrap"><!-- INCLUDE pagination.html --></td>
				</tr>
			</table>
			<!-- ENDIF -->

		</td>
	</tr>
</table>

<div class="copyright" style="text-align: center;"><i>{L_POINTS_COPYRIGHT}{POINT_VERS}</i></div>
<br clear="all" />

<!-- INCLUDE overall_footer.html -->
