<section class="block_data language-select-block">
    <form method="post" id="lang_select_form" class="language-select-form" action="{S_SELECT_ACTION}">
        <select id="lang_select" class="language-select" data-style-select>
            {LANG_SELECT}
        </select>

        <label class="language-select-permanent">
            {L_PERMANENT}
            <input type="checkbox" title="{L_MAKE_PERMANENT}" class="radio" id="lang_perm" name="y" value="1" />
        </label>
    </form>

    <p class="language-select-count">{L_TOTAL_LANGUAGES}: {LANG_COUNT}</p>
</section>
