    <!-- INCLUDE overall_header.html -->
    <h2>{L_EVENTS_OF} {I_MONTH}/{I_DAY}/{I_YEAR}</h2>
    <!-- IF S_NO_EVENTS -->
    <div class="panel bg2">
        <div class="inner"><span class="corners-top"><span></span></span>
            <br />{L_NO_EVENTS_TODAY}<br />&nbsp;
        <span class="corners-bottom"><span></span></span></div>
    </div>
    <!-- ELSE -->
        <!-- BEGIN event_row -->
            <div id="p{event_row.EVENT_ID}" class="post <!-- IF event_row.S_ROW_COUNT is odd -->bg1<!-- ELSE -->bg2<!-- ENDIF --><!-- IF event_row.S_ONLINE --> online<!-- ENDIF -->">
               <div class="inner"><span class="corners-top"><span></span></span>
                  <div class="postbody">
                  <!-- IF event_row.S_DELETE or event_row.S_EDIT -->
                        <ul class="profile-icons">
                            <!-- IF event_row.S_EDIT --><li class="edit-icon"><a href="{event_row.U_EDIT_ACTION}" title="{L_EDIT_POST}">{L_EDIT_POST}</a></li><!-- ENDIF -->
                            <!-- IF event_row.S_DELETE --><li class="delete-icon"><a href="{event_row.U_DELETE_ACTION}" title="{L_DELETE_POST}"><span>{L_DELETE_POST}</span></a></li><!-- ENDIF -->
                        </ul>
                  <!-- ENDIF -->
                  <h3><!-- IF event_row.S_IS_CONTINUED --><img src="{CONTINUED_IMG}" title="{L_IS_CONTINUED_EVENT}"/> <!-- ENDIF --><!-- IF event_row.S_IS_REPEAT --><img src="{REPEAT_IMG}" title="{L_IS_REPEAT_EVENT}"/> <!-- ENDIF -->{event_row.NAME}</h3>
                  <hr />
                  <div>
                  <dl style="clear: left;">
                     <dt>{L_STARTS}:</dt>
                     <dd><strong>{event_row.START_TIME}</strong></dd>
                     <dt>{L_ENDS}:</dt>
                     <dd><strong>{event_row.END_TIME}</strong></dd>
                     <dt>{L_DURATION}:</dt>
                     <dd><strong>{event_row.DURATION}</strong></dd>
                     <!-- IF event_row.S_HAS_REPEATS -->
                         <dt>{L_REPEATED}:</dt>
                         <dd><strong>{event_row.REPEAT_LIST}</strong></dd>
                     <!-- ENDIF -->
                  </dl>
                  </div>
              <hr />
              <!-- IF event_row.S_IS_INVITED and S_USER_LOGGED_IN -->
                  <div class="rules">
                  <!-- IF event_row.S_IS_SIGNED_UP -->
                        <p style="color:#00AA00; text-align:center;">{L_CALENDAR_SIGNED_UP}&nbsp;&nbsp;&nbsp;<a href="{event_row.U_UNREG}">{L_CALENDAR_UN_SIGN_UP}</a></p>
                  <!-- ELSEIF event_row.S_IS_SIGNED_DOWN -->
                        <p style="color:#BC2A4D; text-align:center;">{L_CALENDAR_SIGNED_DOWN}&nbsp;&nbsp;&nbsp;<a href="{event_row.U_UNREG}">{L_CALENDAR_UN_SIGN_UP}</a></p>
                  <!-- ELSE -->
                        <p style="color:#00AA00; text-align:center;">{L_CALENDAR_SIGN_UP_INVITATION}&nbsp;&nbsp;&nbsp;<a href="{event_row.U_SIGN_UP}">{L_CALENDAR_SIGN_UP_ACCEPT}</a> &bull; <a href="{event_row.U_SIGN_DOWN}">{L_CALENDAR_SIGN_UP_DECLINE}</a></p>
                  <!-- ENDIF -->
                  </div>
                  <!-- IF S_SHOW_ATTENDEES_LIST -->
                      <h4>{L_CALENDAR_EVENT_MEMBERS_SIGNED}</h4>
                      <!-- IF event_row.SIGNED_UP_LIST -->{event_row.SIGNED_UP_LIST}<!-- ELSE -->{L_CALENDAR_EVENT_MEMBERS_SIGNED_NONE}<!-- ENDIF -->
                      <hr />
                      <h4>{L_CALENDAR_EVENT_MEMBERS_NOT_SIGNED}</h4>
                      <!-- IF event_row.SIGNED_DOWN_LIST -->{event_row.SIGNED_DOWN_LIST}<!-- ELSE -->{L_CALENDAR_EVENT_MEMBERS_NOT_SIGNED_NONE}<!-- ENDIF -->
                      <hr />
                      <br />
                  <!-- ENDIF -->
              <!-- ENDIF -->
              <dl style="clear: left;">
			    <dt><label for="subject">{L_CALENDAR_EVENT_DESC}:</label></dt>
		      </dl>
              <div class="content">{event_row.DESC}</div>
              </div>

              <dl class="postprofile" id="profile{event_row.EVENT_ID}">
                 <dt>
                    <!-- IF event_row.POSTER_AVATAR -->
                    <a href="memberlist.php?mode=viewprofile&u={event_row.POSTER_ID}">{event_row.POSTER_AVATAR}</a><br />
                    <!-- ENDIF -->
                        <strong>{event_row.AUTHOR}</strong>
                 </dt>
                 <!-- IF event_row.RANK_TITLE or event_row.RANK_IMG --><dd>{event_row.RANK_TITLE}<!-- IF event_row.RANK_TITLE and event_row.RANK_IMG --><br /><!-- ENDIF -->{event_row.RANK_IMG}</dd><!-- ENDIF -->

              <dd>&nbsp;</dd>

              <!-- IF event_row.POSTER_POSTS != '' --><dd><strong>{L_POSTS}:</strong> {event_row.POSTER_POSTS}</dd><!-- ENDIF -->
              <!-- IF event_row.POSTER_JOINED --><dd><strong>{L_JOINED}:</strong> {event_row.POSTER_JOINED}</dd><!-- ENDIF -->
              <!-- IF event_row.POSTER_FROM --><dd><strong>{L_LOCATION}:</strong> {event_row.POSTER_FROM}</dd><!-- ENDIF -->

              <!-- IF not S_IS_BOT -->
              <!-- IF event_row.U_PM or event_row.U_EMAIL or event_row.U_WWW or event_row.U_MSN or event_row.U_ICQ or event_row.U_YIM or event_row.U_AIM -->
                 <dd>
                    <ul class="profile-icons">
                       <!-- IF event_row.U_PM --><li class="pm-icon"><a href="{event_row.U_PM}" title="{L_PRIVATE_MESSAGE}"><span>{L_PRIVATE_MESSAGE}</span></a></li><!-- ENDIF -->
                       <!-- IF event_row.U_EMAIL --><li class="email-icon"><a href="{event_row.U_EMAIL}" title="{L_EMAIL}"><span>{L_EMAIL}</span></a></li><!-- ENDIF -->
                       <!-- IF event_row.U_WWW --><li class="web-icon"><a href="{event_row.U_WWW}" title="{L_VISIT_WEBSITE}: {event_row.U_WWW}"><span>{L_WEBSITE}</span></a></li><!-- ENDIF -->
                       <!-- IF event_row.U_MSN --><li class="msnm-icon"><a href="{event_row.U_MSN}" title="{L_MSNM}"><span>{L_MSNM}</span></a></li><!-- ENDIF -->
                       <!-- IF event_row.U_ICQ --><li class="icq-icon"><a href="{event_row.U_ICQ}" title="{L_ICQ}"><span>{L_ICQ}</span></a></li><!-- ENDIF -->
                       <!-- IF event_row.U_YIM --><li class="yahoo-icon"><a href="{event_row.U_YIM}" title="{L_YIM}"><span>{L_YIM}</span></a></li><!-- ENDIF -->
                       <!-- IF event_row.U_AIM --><li class="aim-icon"><a href="{event_row.U_AIM}" title="{L_AIM}"><span>{L_AIM}</span></a></li><!-- ENDIF -->
                       <!-- IF event_row.U_JABBER --><li class="jabber-icon"><a href="{event_row.U_JABBER}" onclick="popup('{event_row.U_JABBER}', 550, 320); return false;" title="{L_JABBER}"><span>{L_JABBER}</span></a></li><!-- ENDIF -->
                    </ul>
                 </dd>
              <!-- ENDIF -->
              <!-- ENDIF -->

              </dl>


              <div class="back2top"><a href="#wrap" class="top" title="{L_BACK_TO_TOP}">{L_BACK_TO_TOP}</a></div>

              <span class="corners-bottom"><span></span></span></div>
           </div>

           <hr class="divider" />
        <!-- END event_row -->
    <!-- ENDIF -->

    <h2>Birthdays for {I_MONTH}/{I_DAY}/{I_YEAR}</h2>
    <div class="panel bg2">
        <div class="inner"><span class="corners-top"><span></span></span>
            <div>
                <br />
                <!-- IF S_NO_BIRTHDAY -->
                    {L_NO_BIRTHDAYS}
                <!-- ELSE -->
                    {L_CONGRATULATIONS}: <!-- BEGIN birthday_row -->{birthday_row.USERNAME_FULL} ({birthday_row.AGE})<!-- IF not birthday_row.S_LAST_ROW -->, <!-- ENDIF --><!-- END bday_list -->
                <!-- ENDIF -->
                <br />&nbsp;
            </div>
        <span class="corners-bottom"><span></span></span></div>
    </div>

    <!-- INCLUDE overall_footer.html -->
