#menu, #menu_footer {
	background: #C8D5E5;
	background: linear-gradient(to bottom,  #D7E0EC,  #B7C9DD);
	height: 24px;
	border-bottom: 1px solid #91A0AE;
}
#menu ul, #menu li, #menu_footer ul, #menu_footer li {
	margin: 0 auto;
	padding: 0;
	list-style: none;
}
#menu ul, #menu_footer ul {
	margin: auto;
    width: 100%;
	text-align: center;
}
#menu li, #menu_footer li {
	display: inline-block;
	margin: auto;
}
#menu a, #menu_footer a {
	display: block;
	line-height: 2em;
	padding: 0 14px 2px 14px;
	text-decoration: none;
	color: #32475F;
	font-size: 1.1em;
}
#menu a.dropdown-arrow:after, #menu_footer a.dropdown-arrow:after {
	content: "\23F7";
	margin-left: 5px;
}
#menu li a:hover, #menu_footer li a:hover {
	color: #839FBC;
	background: transparent;
}
#menu input, #menu_footer input {
	display: none;
	margin: 0;
	padding: 0;
	height: 24px;
	width: 100%;
	opacity: 0;
	cursor: pointer
}
#menu label, #menu_footer label {
	display: none;
	line-height: 24px;
	text-align: center;
	position: absolute;
	left: 35px
}
#menu label:before, #menu_footer label:before {
	font-size: 1.6em;
	content: "\2261"; 
	margin-left: 20px;
}
#menu ul.sub-menus, #menu_footer ul.sub-menus {
	height: auto;
	overflow: hidden;
	width: 170px;
	background: #32475F;
	position: absolute;
	z-index: 99;
	display: none;
}
#menu ul.sub-menus li, #menu_footer ul.sub-menus li {
	display: block;
	width: 100%;
	text-align: left;
}
#menu ul.sub-menus a, #menu_footer ul.sub-menus a {
	color: #FFFFFF;
	font-size: 13px;
}
#menu li:hover ul.sub-menus, #menu_footer li:hover ul.sub-menus {
	display: block
}
#menu ul.sub-menus a:hover, #menu_footer ul.sub-menus a:hover {
	background: #BACBDE;
	color: #32475F;
}

@media screen and (max-width: 800px){
	#menu, #menu_footer {position:relative}
	#menu ul {background:#DDE6ED;position:absolute;top:100%;right:0;left:0;z-index:3;height:auto;display:none}
	#menu ul.sub-menus {width:100%;position:static;}
	#menu ul.sub-menus a {padding-left:30px;}
	#menu li {display:block;float:none;width:auto;text-align:left;}
	#menu input, #menu label {position:absolute;top:0;left:0;display:block}
	#menu input {z-index:4}
	#menu input:checked + label {color:white}
	#menu input:checked + label:before {content:"\00d7"}
	#menu input:checked ~ ul {display:block}	#menu {position:relative}
	#menu_footer ul {background:#DDE6ED;position:absolute;top:100%;right:0;left:0;z-index:3;height:auto;display:none}
	#menu_footer ul.sub-menus {width:100%;position:static;}
	#menu_footer ul.sub-menus a {padding-left:30px;}
	#menu_footer li {display:block;float:none;width:auto;text-align:left;}
	#menu_footer input, #menu label {position:absolute;top:0;left:0;display:block}
	#menu_footer input {z-index:4}
	#menu_footer input:checked + label {color:white}
	#menu_footer input:checked + label:before {content:"\00d7"}
	#menu_footer input:checked ~ ul {display:block}
}
