div.codebox {
	background-color: #fff;
	margin: 0 4px;
	padding: 3px;
	border: 1px solid #d8d8d8;
}

div.codeholder {
	margin: 0;
	overflow: auto;
	max-height: 300px;
}

div.codeheader {
	line-height: 20px;
	text-transform: uppercase;
	border-bottom: 1px solid #CCCCCC;
	margin-bottom: 4px;
	font-size: 0.8em;
	font-weight: bold;
	text-align: right;
	padding-right: 10px;
}

div.codebox div ol {
	list-style-position: outside;
	margin-top: 0;
	margin-bottom: 0;
	padding: 0;
}

.li1 {
	padding: 0 5px;
	background-color: #fff;
	line-height: 16px;
	border-bottom: 1px solid #efefef;
	border-left: 1px solid #999;
}

.li2 {
	padding: 0 5px;
	background-color: #f9f9f9;
	line-height: 16px;
	border-bottom: 1px solid #efefef;
	border-left: 1px solid #999;
}